@model SIRH.Web.ViewModels.FormularioDesarraigoVM
@{
    ViewBag.Title = "Detalle del Desarraigo";
    Layout = "~/Views/Shared/Desarraigo.cshtml";
}
<link href="~/Content/datetimepicker.css" rel="stylesheet" />
<h1>
    @{
        if (Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Vencido")
        {
            <span style="color:red">ALERTA POR VENCIMIENTO @Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo </span>
        }
        else
        if (Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Vencido_Incap" || Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Vencido_Vac" ||
            Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Vencido_PSS" || Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Vencido")
        {
            <span style="color:red">ALERTA POR VENCIMIENTO</span>
            <br>
        }
        else
        if (Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Valido")
        {
            <span style="color:green">(Estado: @Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo)</span>
        }
        else
        {
            <span style="color:#FFA500"> (Estado: @Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo)</span>
        }

    }
    Detalles del Desarraigo N°: @Model.Desarraigo.CodigoDesarraigo
</h1>

@{
    using (Html.BeginForm("ReporteDetalleDesarraigo", "Desarraigo", FormMethod.Post, new { @id = "thisForm" }))
    {

            <!--Se mantienen los datos para no volver a hacer la busqueda-->
            @Html.HiddenFor(model => model.NumCartaPresentacion)
            @Html.HiddenFor(model => model.Funcionario.Nombre)
            @Html.HiddenFor(model => model.Funcionario.Cedula)
            @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
            @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
            @Html.HiddenFor(model => model.Funcionario.Nombre)
            @Html.HiddenFor(model => model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo)
            @Html.HiddenFor(model => model.Desarraigo.CodigoDesarraigo)
            @Html.HiddenFor(model => model.Desarraigo.MontoDesarraigo)
            @Html.HiddenFor(model => model.Desarraigo.FechaInicio)
            @Html.HiddenFor(model => model.Desarraigo.ObservacionesDesarraigo)
            @Html.HiddenFor(model => model.Desarraigo.FechaFin)
            @Html.HiddenFor(model => model.Desarraigo.IdEntidad)
            @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.Canton.Provincia.NomProvincia)
            @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.Canton.NomCanton)
            @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.NomDistrito)
            @Html.HiddenFor(model => model.UbicacionContrato.Distrito.Canton.Provincia.NomProvincia)
            @Html.HiddenFor(model => model.UbicacionContrato.Distrito.Canton.NomCanton)
            @Html.HiddenFor(model => model.UbicacionContrato.Distrito.NomDistrito)
            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision)
            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion)
            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento)
            @Html.HiddenFor(model => model.Puesto.CodPuesto)
            @Html.HiddenFor(model => model.DetallePuesto.Clase.DesClase)
            @Html.HiddenFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
            @Html.HiddenFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal)

                for (int i = 0; i < Model.Facturas.Count; i++)
                {
                    @Html.HiddenFor(model => Model.Facturas[i].CodigoFactura)
                    @Html.HiddenFor(model => Model.Facturas[i].Emisor)
                    @Html.HiddenFor(model => Model.Facturas[i].MontoFactura)
                    @Html.HiddenFor(model => Model.Facturas[i].FechaFacturacion)
                }



                for (int i = 0; i < Model.ContratosArrendamiento.Count; i++)
                {
                    @Html.HiddenFor(model => Model.ContratosArrendamiento[i].CodigoContratoArrendamiento)
                    @Html.HiddenFor(model => Model.ContratosArrendamiento[i].EmisorContrato)
                    @Html.HiddenFor(model => Model.ContratosArrendamiento[i].FechaFin)
                    @Html.HiddenFor(model => Model.ContratosArrendamiento[i].FechaInicio)
                    @Html.HiddenFor(model => Model.ContratosArrendamiento[i].MontoContrato)
                }

        <!--Vista de detalle en caso de Detalle-->
        if (ViewData["viewMode"].ToString() == "Detalle")
        {
            <!--data-->
            <div id="formulario">
                <div class="card">
                    <div class="card-header">
                        <strong>Información del Funcionario</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    <strong>@Html.LabelFor(model => model.Funcionario.Cedula): </strong>@Html.DisplayFor(model => model.Funcionario.Cedula)
                                    @Html.HiddenFor(model => model.Funcionario.Cedula)
                                </td>
                                <td>
                                    <strong>@Html.LabelFor(model => model.Funcionario.Nombre): </strong>@Model.Funcionario.Nombre @Model.Funcionario.PrimerApellido @Model.Funcionario.SegundoApellido
                                    @Html.HiddenFor(model => model.Funcionario.Nombre)
                                    @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
                                    @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
                                </td>
                                <td>
                                    <strong>@Html.LabelFor(model => model.Puesto.CodPuesto): </strong>@Html.DisplayFor(model => model.Puesto.CodPuesto)
                                    @Html.HiddenFor(model => model.Puesto.CodPuesto)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>@Html.LabelFor(model => model.DetallePuesto.Clase.DesClase): </strong>@Html.DisplayFor(model => model.DetallePuesto.Clase.DesClase)
                                    @Html.HiddenFor(model => model.DetallePuesto.Clase.DesClase)
                                </td>
                                <td>
                                    <strong>@Html.LabelFor(model => model.DetallePuesto.Especialidad.DesEspecialidad): </strong>@Html.DisplayFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
                                    @Html.HiddenFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
                                </td>
                                <td>
                                    <strong>@Html.LabelFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal): </strong>@Html.DisplayFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal)
                                    @Html.HiddenFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>@Html.LabelFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision): </strong>@Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision)
                                    @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision)
                                </td>
                                <td>
                                    <strong>@Html.LabelFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion): </strong>@Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion)
                                    @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion)
                                </td>
                                <td>
                                    <strong>@Html.LabelFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento): </strong>@Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento)
                                    @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>@Html.LabelFor(model => model.Puesto.UbicacionAdministrativa.Seccion.NomSeccion): </strong>@Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Seccion.NomSeccion)
                                    @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Seccion.NomSeccion)
                                </td>
                                <td>
                                    <strong>@Html.LabelFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.CodigoPresupuesto): </strong>@Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.CodigoPresupuesto)
                                    @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.CodigoPresupuesto)
                                </td>
                                <td>
                                    <strong>Lugar de trabajo: </strong> @Model.UbicacionTrabajo.Distrito.NomDistrito DE @Model.UbicacionTrabajo.Distrito.Canton.NomCanton, @Model.UbicacionTrabajo.Distrito.Canton.Provincia.NomProvincia
                                    @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.Canton.Provincia.NomProvincia)
                                    @Html.HiddenFor(model => Model.UbicacionTrabajo.Distrito.Canton.NomCanton)
                                    @Html.HiddenFor(model => Model.UbicacionTrabajo.Distrito.NomDistrito)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Lugar de contrato: </strong> @Model.UbicacionContrato.Distrito.NomDistrito DE @Model.UbicacionContrato.Distrito.Canton.NomCanton, @Model.UbicacionContrato.Distrito.Canton.Provincia.NomProvincia
                                    @Html.HiddenFor(model => Model.UbicacionContrato.Distrito.Canton.Provincia.NomProvincia)
                                    @Html.HiddenFor(model => Model.UbicacionContrato.Distrito.Canton.NomCanton)
                                    @Html.HiddenFor(model => Model.UbicacionContrato.Distrito.NomDistrito)
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!--Información del Desarraigo-->
            <div class="card" id="Table2">
                <div class="card" id="setForm">
                    <div class="card-header">
                        <strong>  Información del Desarraigo</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    <strong>Fecha del Desarraigo: </strong>@Model.Desarraigo.FechaInicio.ToShortDateString() -  @Model.Desarraigo.FechaFin.ToShortDateString()
                                    @Html.HiddenFor(model => model.Desarraigo.FechaInicio)
                                    @Html.HiddenFor(model => model.Desarraigo.FechaFin)
                                </td>
                                <td>
                                    <strong>N° carta: </strong>@Model.NumCartaPresentacion
                                    @Html.HiddenFor(model => model.NumCartaPresentacion)
                                </td>
                                <td>
                                    <strong>Estado del desarraigo: </strong>@Model.EstadoSeleccion
                                    @Html.HiddenFor(model => model.EstadoSeleccion)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>40% salario base: </strong>@Model.Desarraigo.MontoDesarraigo
                                    @Html.HiddenFor(model => model.Desarraigo.MontoDesarraigo)
                                </td>
                                <td>
                                    <strong>@Html.LabelFor(model => model.DetallePuesto.Especialidad.DesEspecialidad): </strong>@Html.DisplayFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
                                    @Html.HiddenFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
                                </td>
                                <td>
                                    <strong>N° de informe: </strong>@Model.Desarraigo.CodigoDesarraigo
                                    @Html.HiddenFor(model => model.Desarraigo.CodigoDesarraigo)
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

                <table class="table" id="tablaFacturas" style="margin-bottom:70px;">
                    <thead class="thead-light">
                        <tr><th colspan="4" class="encabezadoTablaEspecial">Facturas del Desarraigo</th></tr>
                        <tr>
                            <th>Código de Factura</th>
                            <th>Monto de Factura</th>
                            <th>Fecha de Facturación</th>
                            <th>Emisor de la Factura</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Facturas.Count; i++)
                        {
                            <tr class="omitir">
                                <td>@Model.Facturas[i].CodigoFactura</td>
                                <td>@Model.Facturas[i].MontoFactura.ToString("#,#.00#;(#,#.00#)")</td>
                                <td>@Model.Facturas[i].FechaFacturacion.ToShortDateString()</td>
                                <td colspan='2'>@Model.Facturas[i].Emisor</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table" id="tablaContratos" style="margin-bottom:70px;">
                    <thead class="thead-light">
                        <tr><th colspan="5" class="encabezadoTablaEspecial">Contratos de Arrendamiento del Desarraigo</th></tr>
                        <tr>
                            <th>Código del Contrato</th>
                            <th>Monto del Contrato</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Vencimiento</th>
                            <th>Emisor del Contrato</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ContratosArrendamiento.Count; i++)
                        {
                            <tr class="omitir">
                                <td>@Model.ContratosArrendamiento[i].CodigoContratoArrendamiento</td>
                                <td>@Model.ContratosArrendamiento[i].MontoContrato.ToString("#,#.00#;(#,#.00#)")</td>
                                <td>@Model.ContratosArrendamiento[i].FechaInicio.ToShortDateString()</td>
                                <td>@Model.ContratosArrendamiento[i].FechaFin.ToShortDateString()</td>
                                <td colspan='2'>@Model.ContratosArrendamiento[i].EmisorContrato</td>
                            </tr>
                        }
                    </tbody>
                </table>

                @if (Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Anulado")
                {
                    <div class="card">
                        <div class="card-header">
                            <h2>Observaciones del la anulación</h2>
                        </div>
                        <div class="card-body">
                            @Html.TextAreaFor(model => model.Desarraigo.ObservacionesDesarraigo, new { @class = "form-control", disabled = "disabled" })
                        </div>
                    </div>
                }


            </div>

        }
    }

    if (ViewData["viewMode"].ToString() == "Editar")
    {
        <div class="alert alert-success" role="alert">
            El desarraigo se ha modificado con exito.
        </div>

        <div class="card">
            <h5 class="card-header">Detalles</h5>
            <div class="card-body">
                <div class="row">
                    <div class="form-group">
                        <div>Número del Desarraigo: <b> @Html.AttributeEncode(Model.Desarraigo.CodigoDesarraigo) </b></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Funcionario: <b>@Html.AttributeEncode(Model.Funcionario.Nombre) @Html.AttributeEncode(Model.Funcionario.PrimerApellido) @Html.AttributeEncode(Model.Funcionario.SegundoApellido) (Cédula: @Html.AttributeEncode(Model.Funcionario.Cedula))</b></div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Periodo de Vigencia: <b>@Html.AttributeEncode(Model.Desarraigo.FechaInicio.ToShortDateString()) - @Html.AttributeEncode(Model.Desarraigo.FechaFin.ToShortDateString())</b></div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Monto de Desarraigo: <b>₡ @Html.AttributeEncode(String.Format("{0:F}", Model.Desarraigo.MontoDesarraigo))</b></div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Estado del Desarraigo:<b>@Html.AttributeEncode(Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo)</b></div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Facturas del Desarraigo: <b>@Html.AttributeEncode(string.Join(", ", Model.Facturas.Select(F => F.CodigoFactura).ToArray()))</b></div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Contratos del Desarraigo: <b>@Html.AttributeEncode(string.Join(", ", Model.ContratosArrendamiento.Select(C => C.CodigoContratoArrendamiento).ToArray()))</b></div>

                    </div>
                </div>
            </div>
        </div>



    }

    if (ViewData["viewMode"].ToString() == "Guardar")
    {
        <div class="alert alert-success" role="alert">
            El desarraigo se ha guardado con exito.
        </div>

        <div class="card">
            <h5 class="card-header">Detalles</h5>
            <div class="card-body">
                <div class="row">
                    <div class="form-group">
                        <div>Número del Desarraigo: <b> @Html.AttributeEncode(Model.Desarraigo.CodigoDesarraigo) </b></div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Funcionario: <b>@Html.AttributeEncode(Model.Funcionario.Nombre) @Html.AttributeEncode(Model.Funcionario.PrimerApellido) @Html.AttributeEncode(Model.Funcionario.SegundoApellido) (Cédula: @Html.AttributeEncode(Model.Funcionario.Cedula))</b></div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Periodo de Vigencia: <b>@Html.AttributeEncode(Model.Desarraigo.FechaInicio.ToShortDateString()) - @Html.AttributeEncode(Model.Desarraigo.FechaFin.ToShortDateString())</b></div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Monto de Desarraigo: <b>₡ @Html.AttributeEncode(String.Format("{0:F}", Model.Desarraigo.MontoDesarraigo))</b></div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Estado del Desarraigo: <b>@Html.AttributeEncode(Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo)</b></div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Facturas del Desarraigo: <b>@Html.AttributeEncode(string.Join(", ", Model.Facturas.Select(F => F.CodigoFactura).ToArray()))</b></div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div>Contratos del Desarraigo: <b>@Html.AttributeEncode(string.Join(", ", Model.ContratosArrendamiento.Select(C => C.CodigoContratoArrendamiento).ToArray()))</b></div>

                    </div>
                </div>


            </div>
        </div>


    }

    <div class="card bg-light">
            <table class="table">
                <tr>
                    <td>

                        @if (ViewData["viewMode"].ToString() == "Editar")
                        {
                            <a href="@Url.Action("Search", "Desarraigo")" class="btn btn-primary">
                                <i class="fa fa-arrow-circle-left"></i> Regresar
                            </a>

                        }
                        else
                        {
                            <a class="btn btn-primary" href="javascript:history.back()" id="A5"><i class="fa fa-arrow-circle-left"></i> Regresar</a>


                        }
                    </td>
                    @if (Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Espera")
                    {
                <td>

                    <a href="@Url.Action("NotifyByEmail", "Desarraigo",  new
                   {
                       codigo = Model.Desarraigo.CodigoDesarraigo,
                       cedula = Model.Funcionario.Cedula,
                       username = System.Security.Principal.WindowsIdentity.GetCurrent().Name,
                       nameFunc = Model.Funcionario.Nombre + " " + Model.Funcionario.PrimerApellido + " " + Model.Funcionario.SegundoApellido
                   })" class="btn btn-primary">
                        <i class="fa fa-paper-plane"></i> Notificar
                    </a>


                </td>

                        <td>
                            <a href="@Url.Action("Edit", "Desarraigo", null)" class="btn btn-primary">
                                <i class="fa fa-pencil-square-o"></i> Editar
                            </a>
                        </td>

                }
                    <td><a class="btn btn-success" href="#" id="submit_link"><i class="fa fa-file-pdf-o"></i> Exportar a PDF</a></td>
                </tr>
            </table>
    </div>


    if (Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Vencido" || Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Vencido_Incap" ||
    Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Vencido_Vac" || Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Vencido_PSS")
    {
        <br>
        <div class="link_return">@Html.ActionLink("Ir a Anular", "Nullify", new { @codigo = Model.Desarraigo.IdEntidad }, new { @class = "btn btn-primary" })</div>

    }

}




@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script type="text/javascript">
    $(function () {
        $('a#submit_link').click(function () {
            $('form#thisForm').submit();
        });
    });
</script>

<script src="~/Scripts/sidebar.js" type="text/javascript"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script src="~/Scripts/Pages/EditDesarraigo.js" type="text/javascript"></script>
<script src="~/Scripts/datetimepicker.js" type="text/javascript"></script>
<script src="~/Scripts/datetimepicker-es.js" type="text/javascript"></script>
