@model SIRH.Web.ViewModels.FormularioDesarraigoVM
@{
    ViewBag.Title = "Anular Desarraigo";
    Layout = "~/Views/Shared/Desarraigo.cshtml";
}
<link href="~/Content/datetimepicker.css" rel="stylesheet" />

@{
    <div class="jumbotron">
        <h1>
            @if (Model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo == "Vencido")
            {
                <span style="color:red;">ALERTA POR VENCIMIENTO</span>
            }
            Anular el Desarraigo N°: @Model.Desarraigo.CodigoDesarraigo
        </h1>
        <div class="alert alert-warning" role="alert">
            ¡Atención! Usted está apunto de anular el desarraigo # @Model.Desarraigo.CodigoDesarraigo
            Si anula el desarraigo en el sistema, debe de tramitar el documento "DPA - 908 Solicitud eliminación o asignación DESARRAIGO" utilizando la siguiente informacion.
        </div>
    </div>

    <div id="formulario">
        <div class="card">
            <div class="card-header">
                <strong>Información del Funcionario</strong>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <td>
                            <strong>@Html.LabelFor(model => model.Funcionario.Cedula): </strong>@Html.DisplayFor(model => model.Funcionario.Cedula)
                            @Html.HiddenFor(model => model.Funcionario.Cedula)
                        </td>
                        <td>
                            <strong>@Html.LabelFor(model => model.Funcionario.Nombre): </strong>@Model.Funcionario.Nombre @Model.Funcionario.PrimerApellido @Model.Funcionario.SegundoApellido
                            @Html.HiddenFor(model => model.Funcionario.Nombre)
                            @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
                            @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
                        </td>
                        <td>
                            <strong>@Html.LabelFor(model => model.Puesto.CodPuesto): </strong>@Html.DisplayFor(model => model.Puesto.CodPuesto)
                            @Html.HiddenFor(model => model.Puesto.CodPuesto)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>@Html.LabelFor(model => model.DetallePuesto.Clase.DesClase): </strong>@Html.DisplayFor(model => model.DetallePuesto.Clase.DesClase)
                            @Html.HiddenFor(model => model.DetallePuesto.Clase.DesClase)
                        </td>
                        <td>
                            <strong>@Html.LabelFor(model => model.DetallePuesto.Especialidad.DesEspecialidad): </strong>@Html.DisplayFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
                            @Html.HiddenFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
                        </td>
                        <td>
                            <strong>@Html.LabelFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal): </strong>@Html.DisplayFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal)
                            @Html.HiddenFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>@Html.LabelFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision): </strong>@Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision)
                            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision)
                        </td>
                        <td>
                            <strong>@Html.LabelFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion): </strong>@Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion)
                            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion)
                        </td>
                        <td>
                            <strong>@Html.LabelFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento): </strong>@Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento)
                            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>@Html.LabelFor(model => model.Puesto.UbicacionAdministrativa.Seccion.NomSeccion): </strong>@Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Seccion.NomSeccion)
                            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Seccion.NomSeccion)
                        </td>
                        <td>
                            <strong>@Html.LabelFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.CodigoPresupuesto): </strong>@Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.CodigoPresupuesto)
                            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.CodigoPresupuesto)
                        </td>
                        <td>
                            <strong>Lugar de trabajo: </strong> @Model.UbicacionTrabajo.Distrito.NomDistrito DE @Model.UbicacionTrabajo.Distrito.Canton.NomCanton, @Model.UbicacionTrabajo.Distrito.Canton.Provincia.NomProvincia
                            @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.Canton.Provincia.NomProvincia)
                            @Html.HiddenFor(model => Model.UbicacionTrabajo.Distrito.Canton.NomCanton)
                            @Html.HiddenFor(model => Model.UbicacionTrabajo.Distrito.NomDistrito)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Lugar de contrato: </strong> @Model.UbicacionContrato.Distrito.NomDistrito DE @Model.UbicacionContrato.Distrito.Canton.NomCanton, @Model.UbicacionContrato.Distrito.Canton.Provincia.NomProvincia
                            @Html.HiddenFor(model => Model.UbicacionContrato.Distrito.Canton.Provincia.NomProvincia)
                            @Html.HiddenFor(model => Model.UbicacionContrato.Distrito.Canton.NomCanton)
                            @Html.HiddenFor(model => Model.UbicacionContrato.Distrito.NomDistrito)
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div id="CotenedorForm" class="jumbotron" style="margin-bottom:70px;">
        @{
            using (Ajax.BeginForm("Nullify", new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "respuestasFormulario"
            }))
            {
                @Html.ValidationSummary(true)
                <!--Formulario de desarraigo-->

                <div class="Div2">
                    <div class="card" id="setForm">
                        <div class="card-header">
                            Anular Registro de Desarraigo
                        </div>
                        <div class="card-body">
                            <div>
                                <!--Se mantienen los datos para no volver a hacer la busqueda-->
                                @Html.HiddenFor(model => model.NumCartaPresentacion)
                                @Html.HiddenFor(model => model.Funcionario.Nombre)
                                @Html.HiddenFor(model => model.Funcionario.Cedula)
                                @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
                                @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
                                @Html.HiddenFor(model => model.Funcionario.Nombre)
                                @Html.HiddenFor(model => model.Desarraigo.EstadoDesarraigo.NomEstadoDesarraigo)
                                @Html.HiddenFor(model => model.Desarraigo.CodigoDesarraigo)
                                @Html.HiddenFor(model => model.Desarraigo.MontoDesarraigo)
                                @Html.HiddenFor(model => model.Desarraigo.IdEntidad)
                                @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.Canton.Provincia.NomProvincia)
                                @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.Canton.NomCanton)
                                @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.NomDistrito)
                                @Html.HiddenFor(model => model.UbicacionContrato.Distrito.Canton.Provincia.NomProvincia)
                                @Html.HiddenFor(model => model.UbicacionContrato.Distrito.Canton.NomCanton)
                                @Html.HiddenFor(model => model.UbicacionContrato.Distrito.NomDistrito)
                                @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision)
                                @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion)
                                @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento)
                                @Html.HiddenFor(model => model.Puesto.CodPuesto)
                                @Html.HiddenFor(model => model.DetallePuesto.Clase.DesClase)
                                @Html.HiddenFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
                                @Html.HiddenFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal)
                            </div>
                            <!--Almacena los datos de la lista de Facturas-->
                            <div id="facturasData"></div>
                            <!--Almacena los datos de la lista de Contratos-->
                            <div id="contratosData"></div>
                            <!--Tablas de los datos del desarraigo-->
                            <center>
                                <div class="row">

                                    <form>
                                        <div class="col-3">

                                            <div class="form-group">
                                                <b>@Html.Label("Fecha del Desarraigo")</b>
                                                <div class="start_date input-group mb-4">
                                                    @Html.TextBoxFor(model => model.Desarraigo.FechaInicio, new { @id = "FechaInicio", @class = "form-control start_date", @readonly = "readonly", disabled = "disabled", @Value = Model.Desarraigo.FechaInicio.ToShortDateString() })
                                                    @Html.ValidationMessageFor(model => model.Desarraigo.FechaInicio)


                                                </div>


                                                <div class="end_date input-group mb-4">
                                                    @Html.TextBoxFor(model => model.Desarraigo.FechaFin, new { @id = "FechaFin", @class = "form-control start_date", @readonly = "readonly", disabled = "disabled", @Value = Model.Desarraigo.FechaFin.ToShortDateString() })
                                                    @Html.ValidationMessageFor(model => model.Desarraigo.FechaFin)

                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <b>@Html.LabelFor(model => model.NumCartaPresentacion)</b>
                                                @Html.TextBoxFor(model => model.NumCartaPresentacion, new { @disabled = "disabled", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.NumCartaPresentacion)
                                            </div>

                                        </div>
                                        <div class="col-3">
                                            <b>@Html.LabelFor(model => model.EstadoSeleccion)</b>
                                            @Html.DropDownListFor(model => model.EstadoSeleccion, Model.Estado, "Seleccione un Estado", new { @class = "btn btn-secondary dropdown-toggle", @disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.EstadoSeleccion)
                                        </div>
                                    </form>

                                </div>

                                <div class="row">

                                    <div class="col-3">
                                        <b>@Html.LabelFor(model => model.Desarraigo.MontoDesarraigo)</b>

                                        <b>₡</b>@Html.TextBox("_montoDesarraigo", 0, new { @class = "form-control", @disabled = "disabled", @Value = Model.Desarraigo.MontoDesarraigo.ToString("#,#.00#;(#,#.00#)") })

                                        @Html.ValidationMessageFor(model => model.Desarraigo.MontoDesarraigo)
                                    </div>
                                    <div class="col-3">
                                        <b>@Html.Label("N° Informe")</b>
                                        @Html.TextBoxFor(model => model.Desarraigo.CodigoDesarraigo, new { @disabled = "disabled", @class = "form-control" })
                                    </div>
                                </div>

                            </center>



                        </div>

                    </div>

                    <table class="table" id="tablaFacturas" style="margin-bottom:70px;">
                        <thead class="thead-dark">
                            <tr><th colspan="4" class="encabezadoTablaEspecial">Facturas del Desarraigo</th></tr>
                            <tr>
                                <th>Código de Factura</th>
                                <th>Monto de Factura</th>
                                <th>Fecha de Facturación</th>
                                <th>Emisor de la Factura</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Facturas.Count; i++)
                            {
                                <tr class="omitir">
                                    <td>@Model.Facturas[i].CodigoFactura</td>
                                    <td>@Model.Facturas[i].MontoFactura.ToString("#,#.00#;(#,#.00#)")</td>
                                    <td>@Model.Facturas[i].FechaFacturacion.ToShortDateString()</td>
                                    <td colspan='2'>@Model.Facturas[i].Emisor</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <table class="table" id="tablaContratos" style="margin-bottom:70px;">
                        <thead class="thead-dark">
                            <tr><th colspan="5" class="encabezadoTablaEspecial">Contratos de Arrendamiento del Desarraigo</th></tr>
                            <tr>
                                <th>Código del Contrato</th>
                                <th>Monto del Contrato</th>
                                <th>Fecha de Inicio</th>
                                <th>Fecha de Vencimiento</th>
                                <th>Emisor del Contrato</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ContratosArrendamiento.Count; i++)
                            {
                                <tr class="omitir">
                                    <td>@Model.ContratosArrendamiento[i].CodigoContratoArrendamiento</td>
                                    <td>@Model.ContratosArrendamiento[i].MontoContrato.ToString("#,#.00#;(#,#.00#)")</td>
                                    <td>@Model.ContratosArrendamiento[i].FechaInicio.ToShortDateString()</td>
                                    <td>@Model.ContratosArrendamiento[i].FechaFin.ToShortDateString()</td>
                                    <td colspan='2'>@Model.ContratosArrendamiento[i].EmisorContrato</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="card" style="margin-bottom:70px;">
                        <div class="card-header">
                            @Html.LabelFor(model => model.Desarraigo.ObservacionesDesarraigo)
                        </div>
                        <div class="card-body">
                            @Html.TextAreaFor(model => model.Desarraigo.ObservacionesDesarraigo, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:70px;">
                        <div id="gruposBtn">
                            <input class="btn btn-primary" type="button" value="Cancelar" onclick="javascript:history.back()" />
                            <input class="btn btn-primary" id="btnAnular" name="SubmitButton" type="submit" value="Anular Desarraigo" />
                        </div>

                    </div>
                    <div class="row" style="margin-bottom:25px;">
                        <div class="col-5"></div>
                        <center>
                            <div id="preloader" class="loader" hidden></div>
                        </center>
                    </div>

                </div>



            }
            <!--Respuestas del formulario-->
            <div id="respuestasFormulario"></div>
        }
    </div>

}


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/sidebar.js" type="text/javascript"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script src="~/Scripts/Pages/EditDesarraigo.js" type="text/javascript"></script>
<script src="~/Scripts/datetimepicker.js" type="text/javascript"></script>
<script src="~/Scripts/datetimepicker-es.js" type="text/javascript"></script>


