@model SIRH.Web.ViewModels.BusquedaHistorialCalificacionVM

@{
    ViewBag.Title = "DetailsHistorial";
    Layout = "~/Views/Shared/Calificacion.cshtml";
}
<div id="respuesta" class="jumbotron">
    <center>
        <h3 class="display-5">Calificación de @Model.Funcionario.Nombre   @Model.Funcionario.PrimerApellido  @Model.Funcionario.SegundoApellido del periodo @Model.DetalleCNombramiento.IndPeriodoDTO</h3>
        <br />
        @using (Ajax.BeginForm("ReporteDetalleHistorial", "Calificacion", new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "SuccessCargarFuncionario",
            OnComplete = "CompleteCargarFuncionario",
            OnBegin = "BeginCargarFuncionario"
        }))
        {
            <div class="card">
                <div class="card-header text-center">
                    <strong>IDENTIFICACIÓN DEL COLABORADOR (A)</strong>
                    @Html.HiddenFor(model => model.Funcionario.IdEntidad)
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Cédula</b></label>
                    <div class="col-sm-3">
                        @Html.DisplayFor(model => model.Funcionario.Cedula, new { @class = "form-control" })
                    </div>
                    <label class="col-sm-3 col-form-label"><b>Nombre</b></label>
                    <div class="col-sm-3">
                        <label class="form">@Model.Funcionario.Nombre @Model.Funcionario.PrimerApellido @Model.Funcionario.SegundoApellido</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Sexo</b></label>
                    <div class="col-sm-3">
                        <label class="form">@Model.Funcionario.Sexo</label>
                    </div>
                    <label class="col-sm-3 col-form-label"><b>Codigo Puesto</b></label>
                    <div class="col-sm-3">
                        @Html.DisplayFor(model => model.Puesto.CodPuesto, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Clasificación Funcionario</b></label>
                    <div class="col-sm-3">
                        @Html.DisplayFor(model => model.DetallePuesto.Clase.DesClase, new { @class = "form-control" })
                    </div>

                    <label class="col-sm-3 col-form-label"><b>Codigo Presupuesto Funcionario</b></label>
                    <div class="col-sm-3">
                        @Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.CodigoPresupuesto, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Ocupación Funcionario</b></label>
                    <div class="col-sm-3">
                        @Html.DisplayFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal, new { @class = "form-control" })
                    </div>

                    <label class="col-sm-3 col-form-label"><b>Especialidad</b></label>
                    <div class="col-sm-3">
                        @Html.DisplayFor(model => model.DetallePuesto.Especialidad.DesEspecialidad, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>División Funcionario</b></label>
                    <div class="col-sm-3">
                        @Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision, new { @class = "form-control" })
                    </div>

                    <label class="col-sm-3 col-form-label"><b>Unidad donde Trabaja</b></label>
                    <div class="col-sm-3">
                        @Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"><b>Departamento Funcionario</b></label>
                    <div class="col-sm-3">
                        @Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento, new { @class = "form-control" })
                    </div>

                    <label class="col-sm-3 col-form-label"><b>Sección donde Trabaja</b></label>
                    <div class="col-sm-3">
                        @Html.DisplayFor(model => model.Puesto.UbicacionAdministrativa.Seccion.NomSeccion, new { @class = "form-control" })
                    </div>
                </div>

            </div>
            <hr />
            <div class="card">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th hidden>ID</th>
                            <th>Puesto</th>
                            <th>Departamento</th>
                            <th>Calificación</th>
                            <th>Periodo</th>
                            @if (Model.DetalleCalificacionNombramiento != null)
                            {
                                <th>Estado</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td hidden id="id">@Model.DetalleCNombramiento.IdEntidad</td>
                            <td>@Model.DetalleCNombramiento.NombramientoDTO.Puesto.CodPuesto</td>
                            <td>@Model.DetalleCNombramiento.NombramientoDTO.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento</td>
                            <td>@Model.DetalleCNombramiento.CalificacionDTO.DesCalificacion</td>
                            <td>@Model.DetalleCNombramiento.IndPeriodoDTO</td>
                            @if (Model.DetalleCalificacionNombramiento != null)
                            {
                                if (Model.DetalleCalificacionNombramiento.IndEstadoDTO == 1)
                                {
                                    <td>Activo</td>
                                }
                                else if (Model.DetalleCalificacionNombramiento.IndEstadoDTO == 2)
                                {
                                    <td>Anulado</td>
                                }
                            }
                        </tr>
                        @Html.HiddenFor(model => model.DetalleCNombramiento.IdEntidad)
                        @Html.HiddenFor(model => model.DetalleCNombramiento.CalificacionDTO.DesCalificacion)
                        @Html.HiddenFor(model => model.DetalleCNombramiento.IndPeriodoDTO)
                        @Html.HiddenFor(model => model.Funcionario.Nombre)
                        @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
                        @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
                        @Html.HiddenFor(model => model.Funcionario.Cedula)
                        @Html.HiddenFor(model => model.Puesto.CodPuesto)
                        @Html.HiddenFor(model => model.Puesto.EstadoPuesto)
                        @Html.HiddenFor(model => model.Puesto.EstudioPuesto)
                        @Html.HiddenFor(model => model.Puesto.ObservacionesPuesto)
                        @Html.HiddenFor(model => model.DetallePuesto.Clase.DesClase)
                        @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.CodigoPresupuesto)
                        @Html.HiddenFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal)
                        @Html.HiddenFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
                        @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision)
                        @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion)
                        @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento)
                        @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Seccion.NomSeccion)
                        @Html.HiddenFor(model => model.Expediente.NumeroExpediente)

                    </tbody>
                    <!--Add footer for totals-->

                </table>
                <hr />
                <div class="form-group row">
                    <div class="col-sm-7">
                        <button class="btn btn-danger" type="submit"><i class="fa fa-file-pdf-o"></i> Exportar a PDF</button>
                    </div>
                    <div class="col-sm-3">
                        @if (Model.DetalleCalificacionNombramiento != null)
                        {
                            if (Model.DetalleCalificacionNombramiento.IndEstadoDTO == 1)
                            {

                                <a href="@Url.Action("EditHistorialDetalle", "Calificacion", new { codigo = @Model.DetalleCNombramiento.IdEntidad, codigoDCN = Model.DetalleCalificacionNombramiento.CalificacionNombramientoDTO.IdEntidad })" class="btn btn-warning">
                                    <i class="fa fa-edit"></i> Editar
                                </a>
                            }
                            else
                            {
                                <p id="error" style="color: Red">No se puede Editar / Anular, Dato Ya Anulado</p>
                            }
                        }
                        else
                        {
                            <p id="error" style="color: Red">No se puede Editar / Anular, Dato Antiguo</p>
                        }
                    </div>
                </div>


            </div>

        }
    </center>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

