@model SIRH.Web.ViewModels.FormularioGastoTransporteVM
@{
    if (Model != null)
    {
        <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Motivo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @{Html.RenderPartial("_AgregarMotivoGastoTransporte"); }
                    </div>
                    <div class="modal-footer">
                        <button id="CacelarContratoPopUp" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="AgregarMotivoPopUp" type="button" class="btn btn-primary">Agregar Motivo</button>
                        <button id="EditarContratoPopUp" type="button" class="btn btn-primary" style="display:none">Editar Contrato</button>

                    </div>
                </div>
            </div>
        </div>

        <b>@Html.LabelFor(model => model.Formulario)</b> <label>@Model.Formulario</label>

        <b><label>Para el mes de: </label></b> <label>@Model.mes</label>
        <table id="item1" class="table table-bordered" style="margin-bottom:70px;margin-top:20px;">
            <thead class="thead-light">
                <tr><th colspan="4" class="encabezadoTabla">Datos Personales</th></tr>
                <tr>
                    <th># Cédula</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> @Model.Funcionario.Cedula </td>
                    <td> @Model.Funcionario.PrimerApellido </td>
                    <td> @Model.Funcionario.SegundoApellido </td>
                    <td> @Model.Funcionario.Nombre</td>
                </tr>
            </tbody>
        </table>

            <!--Lugar de Trabajo-->
                            <table class="table table-bordered" style="margin-bottom:70px;">
                                <thead class="thead-light">
                                    <tr><th colspan="3" class="encabezadoTabla">Lugar de Trabajo</th></tr>
                                    <tr>
                                        <th>Provincia</th>
                                        <th>Cantón</th>
                                        <th>Distrito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.UbicacionTrabajo.Distrito.Canton.Provincia.NomProvincia </td>
                                        <td>@Model.UbicacionTrabajo.Distrito.Canton.NomCanton</td>
                                        <td>@Model.UbicacionTrabajo.Distrito.NomDistrito</td>
                                    </tr>
                                </tbody>
                            </table>

            <!--Lugar de Trabajo-->
                            <table class="table table-bordered" style="margin-bottom:70px;">
                                <thead class="thead-light">
                                    <tr><th colspan="3" class="encabezadoTabla">Lugar de Contrato</th></tr>
                                    <tr>
                                        <th>Provincia</th>
                                        <th>Cantón</th>
                                        <th>Distrito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.UbicacionContrato.Distrito.Canton.Provincia.NomProvincia</td>
                                        <td>@Model.UbicacionContrato.Distrito.Canton.NomCanton</td>
                                        <td>@Model.UbicacionContrato.Distrito.NomDistrito</td>
                                    </tr>
                                </tbody>
                            </table>


            <!--Dependencia-->
                            <table class="table table-bordered" style="margin-bottom:70px;">
                                <thead class="thead-light">
                                    <tr><th colspan="3" class="encabezadoTabla">Dependencia</th></tr>
                                    <tr>
                                        <th>División</th>
                                        <th>Dirección</th>
                                        <th>Departamento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.Puesto.UbicacionAdministrativa.Division.NomDivision</td>
                                        <td>@Model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion</td>
                                        <td>@Model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento</td>
                                    </tr>
                                </tbody>
                            </table>
            <!--Detalles del Puesto-->
                            <table class="table table-bordered " style="margin-bottom:70px;">
                                <thead class="thead-light">
                                    <tr><th colspan="8" class="encabezadoTabla">Detalles del Puesto</th></tr>
                                    <tr>
                                        <th># Puesto </th>
                                        <th>Clase</th>
                                        <th>Especialidad</th>
                                        <th>Ocupación Real</th>
                                        <th>Telefono</th>
                                        <th>Programa Presupuestario</th>
                                        <th>Area</th>
                                        <th>Actividad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.Puesto.CodPuesto </td>
                                        <td>@Model.DetallePuesto.Clase.DesClase </td>
                                        <td>@Model.DetallePuesto.Especialidad.DesEspecialidad </td>
                                        <td>@Model.DetallePuesto.OcupacionReal.DesOcupacionReal </td>
                                        <td>No Disponible</td>
                                        <td>@Model.Puesto.UbicacionAdministrativa.Presupuesto.Programa.IdEntidad </td>
                                        <td>@Model.Puesto.UbicacionAdministrativa.Presupuesto.Area </td>
                                        <td>@Model.Puesto.UbicacionAdministrativa.Presupuesto.Actividad </td>
                                    </tr>
                                </tbody>
                            </table>
            <!--Lugar de Domicilio-->
                            @*<table class="table table-bordered" style="margin-bottom:70px;">
                                    <thead class="thead-light">
                                        <tr><th colspan="5" class="encabezadoTabla">Lugar de Domicilio</th></tr>
                                        <tr>
                                            <th>Provincia</th>
                                            <th>Cantón</th>
                                            <th>Distrito</th>
                                            <th>Otras Señas</th>
                                            <th>Telefono</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@/*Html.DropDownListFor(model => model.ProvinciaSeleccion, Model.Provincias, "Provincia", new { @class = "btn btn-secondary dropdown-toggle" })*/</td>
                                            @/*Html.ValidationMessageFor(model => model.ProvinciaSeleccion)*/
                                            <td>@/*Html.DropDownListFor(model => model.CantonSeleccion, Model.Cantones, "Cantón", new { @class = "btn btn-secondary dropdown-toggle" })*/</td>
                                            @/*Html.ValidationMessageFor(model => model.CantonSeleccion)*/
                                            <td>@/*Html.DropDownListFor(model => model.DistritoSeleccion, Model.Distritos, "Distritos", new { @class = "btn btn-secondary dropdown-toggle" })*/</td>
                                            @/*Html.ValidationMessageFor(model => model.DistritoSeleccion)*/
                                            <td>@/*Html.TextBoxFor(model => model.GastoTransporte.DesSenasDTO, new { @class = "form-control" })*/</td>
                                            <td>@/*Html.TextBoxFor(model => model.GastoTransporte.NumTelDomicilioDTO, new { @class = "form-control" })*/</td>

                                        </tr>
                                    </tbody>
                                </table>*@
                            <div class="jumbotron" id="Contenedor4">
                                @{
                                    using (Ajax.BeginForm("CreateDeduccionGastoTransporte", new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "Div3",
                                        OnBegin = "BeginGuardarDesarraigo",
                                        OnComplete = "CompleteGuardarDesarraigo",
                                        OnSuccess = "SuccessGuardarDesarraigo",
                                        OnFailure = "SuccessGuardarDesarraigo"
                                    }))
                                    {
                                        Html.ValidationSummary(true);
                     <!--Formulario de Viatico Corrido-->
                                        <div id="Div1">
                                            <div id="setForm">
                                                <!--Se mantienen los datos para no volver a hacer la busqueda-->
                                                @Html.HiddenFor(model => model.Funcionario.Nombre)
                                                @Html.HiddenFor(model => model.Funcionario.Cedula)
                                                @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
                                                @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
                                                @Html.HiddenFor(model => model.Funcionario.Nombre)
                                                @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.Canton.Provincia.NomProvincia)
                                                @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.Canton.NomCanton)
                                                @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.NomDistrito)
                                                @Html.HiddenFor(model => model.UbicacionContrato.Distrito.Canton.Provincia.NomProvincia)
                                                @Html.HiddenFor(model => model.UbicacionContrato.Distrito.Canton.NomCanton)
                                                @Html.HiddenFor(model => model.UbicacionContrato.Distrito.NomDistrito)
                                                @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision)
                                                @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion)
                                                @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento)
                                                @Html.HiddenFor(model => model.Puesto.CodPuesto)
                                                @Html.HiddenFor(model => model.DetallePuesto.Clase.DesClase)
                                                @Html.HiddenFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
                                                @Html.HiddenFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal)
                                                @Html.HiddenFor(model => model.GastoTransporte.DesSenasDTO)
                                                @Html.HiddenFor(model => model.GastoTransporte.NumTelDomicilioDTO)
                                                @Html.HiddenFor(model => model.GastoTransporte.IdEntidad)
                                                @Html.HiddenFor(model => model.GastoTransporte.PernocteDTO)
                                                @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.Programa.DesPrograma)
                                                @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.Area)
                                                @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Presupuesto.Actividad)


                                                <!--Tabla Motivos-->
                                                <label>¿Utiliza las cabinas propiedad del MOPT u otros entes públicos o privados?</label>
                                                @if (Model.GastoTransporteList[0].PernocteDTO != null)
                                                {
                                                    <label>Sí</label>
                                                }
                                                else
                                                {
                                                    <label>No</label>
                                                }
                                                <!--Almacena los datos de la lista de Motivos-->
                                                <div id="MotivosData"></div>
                                                <table class="table" id="tablaMotivos" style="margin-bottom:70px;">
                                                    <thead class="table-active">
                                                        <tr class="table-active">
                                                            <th colspan="12" class="encabezadoTabla">
                                                                Motivos de reducción
                                                                <div style="float:right;"><input class="btn btn-secondary " id="btnAgregarMotivo" type="button" value="+ Agregar Motivo" /></div>
                                                            </th>
                                                        </tr>
                                                        <tr class="table-active">
                                                            <th class="encabezadoTablaEspecialRegistro">Motivo</th>
                                                            <th class="encabezadoTablaEspecialRegistro">Fecha Rige</th>
                                                            <th class="encabezadoTablaEspecialRegistro">Fecha Vence</th>
                                                            <th class="encabezadoTablaEspecialRegistro">No.Días</th>
                                                            <th class="encabezadoTablaEspecialRegistro">Monto a bajar</th>
                                                            <th class="encabezadoTablaEspecialRegistro">Monto a Rebajar</th>
                                                            <th class="encabezadoTablaEspecialRegistro">Tota a bajar</th>
                                                            <th class="encabezadoTablaEspecialRegistro">No.Solicitud Acción de Personal</th>
                                                            <th class="encabezadoTablaEspecialRegistro"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>

                                                <div class="card" style="margin-bottom:20px;">
                                                    <h5 class="card-header">Observaciones</h5>
                                                    <div class="card-body">
                                                        <center>
                                                            <div class="form-group">
                                                                <label for="comment">Comentarios:</label>
                                                                @Html.TextAreaFor(model => model.MovimientoGT.ObsObservacionesDTO, new { @class = "form-control", @rows = "5", id = "comment" })
                                                                @Html.HiddenFor(model => model.MovimientoGT.ObsObservacionesDTO)
                                                                @Html.ValidationMessageFor(model => model.MovimientoGT.ObsObservacionesDTO)
                                                            </div>
                                                        </center>
                                                    </div>
                                                </div>
                                                @if (Model.DetalleD != null)
                                                {


                                                    for (int i = 0; i < Model.DetalleD.Count; i++)
                                                    {
                                                        @Html.HiddenFor(model => model.DetalleD[i].IdEntidad)
                                                        @Html.HiddenFor(model => model.DetalleD[i].DesMotivoDTO)
                                                        @Html.HiddenFor(model => model.DetalleD[i].FecRigeDTO)
                                                        @Html.HiddenFor(model => model.DetalleD[i].FecVenceDTO)
                                                        @Html.HiddenFor(model => model.DetalleD[i].NumNoDiaDTO)
                                                        @Html.HiddenFor(model => model.DetalleD[i].MontMontoBajarDTO)
                                                        @Html.HiddenFor(model => model.DetalleD[i].MontMontoRebajarDTO)
                                                        @Html.HiddenFor(model => model.DetalleD[i].TotRebajarDTO)
                                                        @Html.HiddenFor(model => model.DetalleD[i].NumSolicitudAccionPDTO)

                                                        @Html.ValidationMessageFor(model => model.DetalleD[i].IdEntidad)
                                                        @Html.ValidationMessageFor(model => model.DetalleD[i].DesMotivoDTO)
                                                        @Html.ValidationMessageFor(model => model.DetalleD[i].FecRigeDTO)
                                                        @Html.ValidationMessageFor(model => model.DetalleD[i].FecVenceDTO)
                                                        @Html.ValidationMessageFor(model => model.DetalleD[i].NumNoDiaDTO)
                                                        @Html.ValidationMessageFor(model => model.DetalleD[i].MontMontoBajarDTO)
                                                        @Html.ValidationMessageFor(model => model.DetalleD[i].MontMontoRebajarDTO)
                                                        @Html.ValidationMessageFor(model => model.DetalleD[i].TotRebajarDTO)
                                                        @Html.ValidationMessageFor(model => model.DetalleD[i].NumSolicitudAccionPDTO)
                                                    }
                                                }

                                                @Html.HiddenFor(model => model.GastoTransporteList[0].IdEntidad)

                                                @Html.ValidationMessageFor(model => model.GastoTransporteList[0].IdEntidad)



                                                <div class="row">
                                                    <div class="col-2">
                                                        <input class="btn btn-info" id="btnGuardar2" name="SubmitButton" type="submit" value="+ Agregar Deducción" onclick="agregarMotivos()" />

                                                    </div>
                                                    <div class="col-10">
                                                        <div id="preloader1" class="loader" hidden></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }
             
                                }
                            </div>
                               <!--Errores del formulario-->

                                    <div id="Div3" style="margin-top:15px;">

                                    </div>
                                    }
}

