@model SIRH.Web.ViewModels.FormularioGastoTransporteVM
@{
    if (Model != null)
    {
        <b>@Html.LabelFor(model => model.Formulario)</b> <label>@Model.Formulario</label>
        <!--Datos Personales-->
        <table id="item1" class="table table-bordered" style="margin-bottom:70px;margin-top:20px;">
            <thead class="thead-light">
                <tr><th colspan="4" class="encabezadoTabla">Datos Personales</th></tr>
                <tr>
                    <th># Cédula</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> @Model.Funcionario.Cedula </td>
                    <td> @Model.Funcionario.PrimerApellido </td>
                    <td> @Model.Funcionario.SegundoApellido </td>
                    <td> @Model.Funcionario.Nombre</td>
                </tr>
            </tbody>
        </table>

        <!--Lugar de Trabajo-->
        <table class="table table-bordered" style="margin-bottom:70px;">
            <thead class="thead-light">
                <tr><th colspan="3" class="encabezadoTabla">Lugar de Trabajo</th></tr>
                <tr>
                    <th>Provincia</th>
                    <th>Cantón</th>
                    <th>Distrito</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UbicacionTrabajo.Distrito.Canton.Provincia.NomProvincia </td>
                    <td>@Model.UbicacionTrabajo.Distrito.Canton.NomCanton</td>
                    <td>@Model.UbicacionTrabajo.Distrito.NomDistrito</td>
                </tr>
            </tbody>
        </table>

        <!--Lugar de Contrato-->
        <table class="table table-bordered" style="margin-bottom:70px;">
            <thead class="thead-light">
                <tr><th colspan="3" class="encabezadoTabla">Lugar de Contrato</th></tr>
                <tr>
                    <th>Provincia</th>
                    <th>Cantón</th>
                    <th>Distrito</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UbicacionContrato.Distrito.Canton.Provincia.NomProvincia</td>
                    <td>@Model.UbicacionContrato.Distrito.Canton.NomCanton</td>
                    <td>@Model.UbicacionContrato.Distrito.NomDistrito</td>
                </tr>
            </tbody>
        </table>


        <!--Dependencia-->
        <table class="table table-bordered" style="margin-bottom:70px;">
            <thead class="thead-light">
                <tr><th colspan="3" class="encabezadoTabla">Dependencia</th></tr>
                <tr>
                    <th>División</th>
                    <th>Dirección</th>
                    <th>Departamento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Puesto.UbicacionAdministrativa.Division.NomDivision</td>
                    <td>@Model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion</td>
                    <td>@Model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento</td>
                </tr>
            </tbody>
        </table>
        <!--Detalles del Puesto-->
        <table class="table table-bordered " style="margin-bottom:70px;">
            <thead class="thead-light">
                <tr><th colspan="4" class="encabezadoTabla">Detalles del Puesto</th></tr>
                <tr>
                    <th># Puesto </th>
                    <th>Clase</th>
                    <th>Especialidad</th>
                    <th>Ocupación Real</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Puesto.CodPuesto </td>
                    <td>@Model.DetallePuesto.Clase.DesClase </td>
                    <td>@Model.DetallePuesto.Especialidad.DesEspecialidad </td>
                    <td>@Model.DetallePuesto.OcupacionReal.DesOcupacionReal </td>
                </tr>
            </tbody>
        </table>
        <!--Detalles del Domicilio-->
        <table class="table table-bordered " style="margin-bottom:70px;">
            <thead class="thead-light">
                <tr><th colspan="4" class="encabezadoTabla">Detalles del Domicilio</th></tr>
                <tr>
                    <th>Provincia</th>
                    <th>Cantón</th>
                    <th>Distrito</th>
                    <th>Dirección Exacta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Direccion.Distrito.Canton.Provincia.NomProvincia</td>
                    <td>@Model.Direccion.Distrito.Canton.NomCanton</td>
                    <td>@Model.Direccion.Distrito.NomDistrito</td>
                    <td>@Model.Direccion.DirExacta</td>

                </tr>
            </tbody>
        </table>

        <div class="jumbotron">
            @{
                using (Ajax.BeginForm("CreateRegistroGastoTransporte", new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "Div3",
                    OnBegin = "BeginGuardarDesarraigo",
                    OnComplete = "CompleteGuardarDesarraigo",
                    OnSuccess = "SuccessGuardarDesarraigo",
                    OnFailure = "SuccessGuardarDesarraigo"
                }))
                {
                    Html.ValidationSummary(true);
                     <!--Formulario de Viatico Corrido-->
                    <div id="Div1">

                        <div id="setForm">

                            <!--Se mantienen los datos para no volver a hacer la busqueda-->
                            @Html.HiddenFor(model => model.Funcionario.Nombre)
                            @Html.HiddenFor(model => model.Funcionario.Cedula)
                            @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
                            @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
                            @Html.HiddenFor(model => model.Funcionario.Nombre)
                            @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.Canton.Provincia.NomProvincia)
                            @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.Canton.NomCanton)
                            @Html.HiddenFor(model => model.UbicacionTrabajo.Distrito.NomDistrito)
                            @Html.HiddenFor(model => model.UbicacionContrato.Distrito.Canton.Provincia.NomProvincia)
                            @Html.HiddenFor(model => model.UbicacionContrato.Distrito.Canton.NomCanton)
                            @Html.HiddenFor(model => model.UbicacionContrato.Distrito.NomDistrito)
                            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Division.NomDivision)
                            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.DireccionGeneral.NomDireccion)
                            @Html.HiddenFor(model => model.Puesto.UbicacionAdministrativa.Departamento.NomDepartamento)
                            @Html.HiddenFor(model => model.Puesto.CodPuesto)
                            @Html.HiddenFor(model => model.DetallePuesto.Clase.DesClase)
                            @Html.HiddenFor(model => model.DetallePuesto.Especialidad.DesEspecialidad)
                            @Html.HiddenFor(model => model.DetallePuesto.OcupacionReal.DesOcupacionReal)
                            @Html.ValidationMessageFor(model => model.DistritoSeleccion)
                            @Html.ValidationMessageFor(model => model.Nombramiento.IdEntidad)
                            @Html.ValidationMessageFor(model => model.Nombramiento.FecRige)
                            @Html.ValidationMessageFor(model => model.Nombramiento.FecVence)
                            @Html.ValidationMessageFor(model => model.Nombramiento.EstadoNombramiento.IdEntidad)
                            @Html.ValidationMessageFor(model => model.Nombramiento.EstadoNombramiento.DesEstado)
                            @Html.ValidationMessageFor(model => model.Direccion.Distrito.IdEntidad)
                            @Html.ValidationMessageFor(model => model.Direccion.Distrito.NomDistrito)
                            @Html.HiddenFor(model => model.Direccion.Distrito.IdEntidad)
                            @Html.HiddenFor(model => model.Direccion.Distrito.NomDistrito)
                            
                           
                            @Html.HiddenFor(model => model.Carta.NumeroCarta, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Carta.NumeroCarta)




                            <!--Almacena los datos de la lista de Facturas-->
                            <div id="facturasData"></div>
                            <!--Almacena los datos de la lista de Contratos-->
                            <div id="contratosData"></div>

                            <!--Tablas de los datos del desarraigo-->
                            <form>

                                <div class="card" style="margin-bottom:20px;">
                                    <h5 class="card-header">Insertar Registro de Gasto Transporte</h5>
                                    <div class="card-body">
                                        <center>
                                            <div class="row">


                                                <div class="col-3">

                                                    <div class="form-group">
                                                        <b>@Html.Label("Fecha del Gasto Transporte")</b>
                                                        <div class="start_date input-group mb-4">
                                                            @Html.TextBoxFor(model => model.GastoTransporte.FecInicioDTO, new { @id = "FechaInicio", @class = "form-control start_date", @readonly = "readonly", @placeholder = "Fecha de Inicio" })
                                                            @Html.ValidationMessageFor(model => model.GastoTransporte.FecInicioDTO)
                                                        </div>
                                                        <label hidden>@Model.Nombramiento.IdEntidad</label>
                                                        <label hidden>@Model.Nombramiento.EstadoNombramiento.IdEntidad</label>
                                                        @Html.HiddenFor(model => model.Nombramiento.IdEntidad)
                                                        @Html.HiddenFor(model => model.Nombramiento.EstadoNombramiento)
                                                        @Html.HiddenFor(model => model.Nombramiento.Funcionario)
                                                        @Html.HiddenFor(model => model.Nombramiento.Puesto)
                                                        @Html.HiddenFor(model => model.Nombramiento.FecRige)
                                                        @Html.HiddenFor(model => model.Nombramiento.FecVence)
                                                        @Html.ValidationMessageFor(model => model.Nombramiento.IdEntidad)
                                                        @Html.ValidationMessageFor(model => model.Nombramiento.EstadoNombramiento.IdEntidad)
                                                        @Html.ValidationMessageFor(model => model.Nombramiento.Funcionario.IdEntidad)
                                                        @Html.ValidationMessageFor(model => model.Nombramiento.Puesto.IdEntidad)
                                                        @Html.ValidationMessageFor(model => model.Nombramiento.FecRige)
                                                        @Html.ValidationMessageFor(model => model.Nombramiento.FecVence)


                                                        <div class="end_date input-group mb-4" id="fechaUno" hidden>
                                                            @Html.TextBoxFor(model => model.GastoTransporte.FecFinDTO, new { @id = "FechaFin", @class = "form-control start_date", @readonly = "readonly", @placeholder = "Fecha de Finalización" })
                                                            @Html.ValidationMessageFor(model => model.GastoTransporte.FecFinDTO)

                                                        </div>

                                                        @Html.HiddenFor(model => model.Nombramiento.EstadoNombramiento.DesEstado, new { @id = "EstadoN" })

                                                        <div class="end_date input-group mb-4" hidden id="fechaDos">
                                                            <label>La Fecha Limite es la siguiente:</label>
                                                            <label>@Model.Nombramiento.FecVence</label>
                                                            @Html.ValidationMessageFor(model => model.Nombramiento.FecVence)
                                                            @Html.HiddenFor(model => model.Fechalimite, new { @id = "fechal" })

                                                            <div class="end_date input-group mb-4">
                                                                @Html.TextBoxFor(model => model.GastoTransporte.FecFinDTO, new { @id = "FechaFinMax", @class = "form-control start_date", @readonly = "readonly", @placeholder = "Fecha de Finalización" })
                                                                @Html.ValidationMessageFor(model => model.GastoTransporte.FecFinDTO)
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <b>@Html.LabelFor(model => model.NumCartaPresentacion)</b>
                                                        @Html.TextBoxFor(model => model.NumCartaPresentacion, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.NumCartaPresentacion)



                                                    </div>

                                                </div>



                                            </div>
                                            <div class="row">

                                                <div class="col-3">
                                                    <label>Tipo de nombramiento</label>
                                                    @if (Model.Nombramiento.EstadoNombramiento.DesEstado == "Propiedad")
                                                    {
                                                        <b>@Model.Nombramiento.EstadoNombramiento.DesEstado</b>
                                                        <b hidden>@Model.Nombramiento.EstadoNombramiento.IdEntidad</b>
                                                        @Html.ValidationMessageFor(model => model.Nombramiento.EstadoNombramiento.IdEntidad)
                                                        @Html.ValidationMessageFor(model => model.Nombramiento.EstadoNombramiento.DesEstado)
                                                        @Html.HiddenFor(model => model.Nombramiento.EstadoNombramiento.IdEntidad)
                                                        @Html.HiddenFor(model => model.Nombramiento.EstadoNombramiento.DesEstado)
                                                        @Html.HiddenFor(model => model.Nombramiento.IdEntidad, new { @id = "FecVenceNom", @class = "form-control start_date", @readonly = "readonly", @placeholder = "Fecha de Finalización", @value = @Model.Nombramiento.IdEntidad })
                                                    }
                                                    else if (Model.Nombramiento.EstadoNombramiento.DesEstado == "Nombramiento interino")
                                                    {
                                                        <label>Tipo de nombramiento</label>
                                                        <b>@Model.Nombramiento.EstadoNombramiento.DesEstado</b>
                                                        <label>Rige Desde</label>
                                                        <b>@Model => model.Nombramiento.FecRige</b>
                                                        <label>Hasta</label>
                                                        <b>@Model.Nombramiento.FecVence</b>
                                                    }
                                                </div>

                                            </div>
                                            <br />
                                            <div class="row">

                                                <div class="col-3">
                                                    <b>@Html.LabelFor(model => model.GastoTransporte.MontGastoTransporteDTO)</b>

                                                    <b>30% ₡</b>@Html.TextBoxFor(model => model.GastoTransporte.MontGastoTransporteDTO, new { @class = "form-control", @readonly = "readonly", @id = "MontoResultado", @name = "MontoResultado" })
                                                    <b>ingrese Monto</b><input type="text" class="form-control" id="montoreal" name="montoreal" />

                                                    @Html.ValidationMessageFor(model => model.GastoTransporte.MontGastoTransporteDTO)
                                                </div>
                                                @*<div class="col-4">
                                                    @*<input class="btn btn-secondary" id="btnCalcularRetroactivo" type="button" value="Calcular Retroactivo" />*@

                                                <!--</div>-->
                                                <div class="col-4">
                                                    <b>@Html.LabelFor(model => model.EstadoSeleccion)</b><br />
                                                    @Html.DropDownListFor(model => model.EstadoSeleccion, Model.Estado, "Seleccione un Estado", new { @name = "estados", @class = "btn btn-secondary dropdown-toggle" })
                                                    @Html.ValidationMessageFor(model => model.EstadoSeleccion)
                                                </div>
                                                <div class="col-3">
                                                    <b>@Html.Label("N° Informe")</b>
                                                    @Html.TextBoxFor(model => model.GastoTransporte.CodigoGastoTransporte, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.GastoTransporte.CodigoGastoTransporte)
                                                    @Html.HiddenFor(model => model.GastoTransporte.CodigoGastoTransporte)
                                                </div>
                                            </div>


                                        </center>
                                    </div>
                                </div>
                            </form>
                            <div>

                            </div>
                            <div id="RutasData"></div>
                            <table class="table" id="tablaRutas" style="margin-bottom:70px;">
                                <thead class="table-active">
                                    
                                    <tr class="table-active">
                                        <th colspan="12" class="encabezadoTabla">
                                            Rustas Según CTP
                                            <div style="float:right;"><input class="btn btn-secondary " id="btnAgregarRutas" type="button" value="+ Agregar Ruta" /></div>
                                        </th>
                                    </tr>
                                    <tr class="table-active">
                                        <th class="encabezadoTablaEspecialRegistro">No° Ruta (Según CTP)</th>
                                        <th class="encabezadoTablaEspecialRegistro">Nombre de Fraccionamiento</th>
                                        <th class="encabezadoTablaEspecialRegistro">Tarifas</th>
                                        <th class="encabezadoTablaEspecialRegistro"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                                <tfoot>
                                    <tr class="table-active">
                                        <th colspan="6" class="encabezadoTabla text-center">
                                            Total de Tarifas:
                                            <input type="text" name="Total" id="totalT" class="encabezadoTabla text-center" readonly="readonly" value="0" />
                                        </th>
                                    </tr>
                                </tfoot>
                                
                                
                            </table>

                            <!--Tabla Meses Anteriores-->
                            <table class="table" id="tablaMAnteriores" style="margin-bottom:70px;">
                                <thead class="table-active">
                                    <tr class="table-active">
                                        <th colspan="6" class="encabezadoTabla text-center">
                                            Información Pago Meses Anteriores
                                        </th>
                                    </tr>
                                    <tr class="table-active">
                                        <th class="encabezadoTablaEspecialRegistro text-left">Mes</th>
                                        <th class="encabezadoTablaEspecialRegistro text-left">Monto</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GastoTransporteList)
                                    {      <tr class="text-left">
                                                <td>@item.FecInicioDTO.ToString("dd/MM/yyyy") - @item.FecFinDTO.ToString("dd/MM/yyyy") </td>


                                                <td>@item.MontGastoTransporteDTO</td>
                                            </tr>
                                       

                                    }
                                    <tr class="text-left">
                                        <td>Total de Meses Anteriores</td>


                                        <td id="totalMA">@Model.TotalMA</td>
                                    </tr>
                                </tbody>
                                @for (int i = 0; i < Model.GastoTransporteList.Count(); i++)
                                {
                                    @Html.HiddenFor(model => model.GastoTransporteList[i].IdEntidad)
                                    @Html.HiddenFor(model => model.GastoTransporteList[i].NombramientoDTO)
                                    @Html.HiddenFor(model => model.GastoTransporteList[i].EstadoGastoTransporteDTO)
                                    @Html.HiddenFor(model => model.GastoTransporteList[i].MontGastoTransporteDTO)
                                    @Html.HiddenFor(model => model.GastoTransporteList[i].ObsGastoTransporteDTO)
                                    @Html.HiddenFor(model => model.GastoTransporteList[i].FecInicioDTO)
                                    @Html.HiddenFor(model => model.GastoTransporteList[i].FecFinDTO)
                                    @Html.ValidationMessageFor(model => model.GastoTransporteList[i].IdEntidad)
                                    @Html.ValidationMessageFor(model => model.GastoTransporteList[i].NombramientoDTO)
                                    @Html.ValidationMessageFor(model => model.GastoTransporteList[i].EstadoGastoTransporteDTO)
                                    @Html.ValidationMessageFor(model => model.GastoTransporteList[i].MontGastoTransporteDTO)
                                    @Html.ValidationMessageFor(model => model.GastoTransporteList[i].FecInicioDTO)
                                    @Html.ValidationMessageFor(model => model.GastoTransporteList[i].FecFinDTO)
                                    @Html.ValidationMessageFor(model => model.GastoTransporteList[i].ObsGastoTransporteDTO)
                                }
                            </table>
                            <div class="card" style="margin-bottom:20px;">
                                <h5 class="card-header">Observaciones</h5>
                                <div class="card-body">
                                    <center>
                                        <div class="form-group">
                                            <label for="comment">Comentarios:</label>
                                            @Html.TextAreaFor(model => model.GastoTransporte.ObsGastoTransporteDTO, new { @class = "form-control", @rows = "5", id = "comment" })
                                            @Html.HiddenFor(model => model.GastoTransporte.ObsGastoTransporteDTO)
                                            @Html.ValidationMessageFor(model => model.GastoTransporte.ObsGastoTransporteDTO)
                                        </div>
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <input class="btn btn-info" id="btnGuardar" name="SubmitButton" type="submit" value="Registrar Gastos de Transporte" onclick="agregarRutas()" />

                                </div>
                                <div class="col-10">
                                    <div id="preloader1" class="loader" hidden></div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                <!--Errores del formulario-->

                <div id="Div3" style="margin-top:15px;">

                </div>
            }
        </div>


                }
}
