@model SIRH.Web.ViewModels.FormularioViaticoCorridoVM
@{
    ViewBag.Title = "CreateRegistroViaticoCorrido";
    Layout = "~/Views/Shared/ViaticoCorrido.cshtml";
}

<link href="~/Content/datetimepicker.css" rel="stylesheet" />

    <center><h2>Solicitudes de Viático Corrido</h2></center>
    @{
        Html.EnableClientValidation();
        using (Html.BeginForm(Ajax.BeginForm("CreateRegistroViaticoCorrido", "ViaticoCorrido", new AjaxOptions
        {
            UpdateTargetId = "dvResultadoBusqueda",
            HttpMethod = "POST",
            OnSuccess = "SuccessCargarFuncionario",
            OnComplete = "CompleteCargarFuncionario",
            OnBegin = "BeginCargarFuncionario"
        })))
        {
            <div class="card">
                <h5 class="card-header">Buscar Funcionario</h5>
                <div class="card-body">
                    <center>
                        <div class="row">
                            <form class="form-inline">
                                <div class="col-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Funcionario.Cedula)
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Funcionario.Cedula, new { @class = "form-control", style = "margin-bottom:10px;" })
                                        @Html.ValidationMessageFor(model => model.Funcionario.Cedula)
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label id="lbl_formulario" name="lbl_formulario">Seleccione Formulario <i class="fa fa-arrow-right"></i></label>
                                    </div>
                                </div>
                                <div class="col-3 row">
                                    <div class="form-group">
                                        <select class="form-control custom-select-sm" name="Fformulario" required id="Fformulario">
                                            <option value="0"></option>
                                            <option value="1">PI-568   Asignación</option>
                                            <option value="2">PI-1104  Deducción</option>
                                            <option value="3">PI-1103  Eliminación</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <input class="btn btn-secondary " id="btnBuscar" name="SubmitButton" type="submit" value="Buscar" />
                                </div>
                            </form>

                        </div>

                        <div class="row">

                            <div class="col-10">
                                <center>
                                    <div id="preloader" class="loader" hidden></div>
                                </center>
                            </div>


                        </div>
                    </center>
                </div>
            </div>
        }
        <div id="dvResultadoBusqueda"></div>


        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Calcular Retroactivo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @{Html.RenderPartial("_CalcularRetroactivoViaticoCorrido"); }
                    </div>
                    <div class="modal-footer">
                        <button id="CacelarCalculoPopUp" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="CalcularPopUp" type="button" class="btn btn-primary">Calcular</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Factura</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @{Html.RenderPartial("_AgregarFacturaViaticoCorrido"); }
                    </div>
                    <div class="modal-footer">
                        <button id="CacelarFacturaPopUp" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="AgregarFacturaPopUp" type="button" class="btn btn-primary">Agregar Factura</button>
                        <button id="EditarFacturaPopUp" type="button" class="btn btn-primary" style="display:none">Editar Factura</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Agregar Contrato de Arrendamiento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @{Html.RenderPartial("_AgregarContratoViaticoCorrido"); }
                    </div>
                    <div class="modal-footer">
                        <button id="CacelarContratoPopUp" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button id="AgregarContratoPopUp" type="button" class="btn btn-primary">Agregar Contrato</button>
                        <button id="EditarContratoPopUp" type="button" class="btn btn-primary" style="display:none">Editar Contrato</button>

                    </div>
                </div>
            </div>
        </div>
    }


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/sidebar.js" type="text/javascript"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script src="~/Scripts/Pages/FormularioViaticoCorrido.js" type="text/javascript"></script>
<script src="~/Scripts/datetimepicker.js" type="text/javascript"></script>
<script src="~/Scripts/datetimepicker-es.js" type="text/javascript"></script>
