@model SIRH.Web.ViewModels.FormularioRegistroIncapacidadVM
@{
    if (Model != null)
    {
        using (Ajax.BeginForm("Create", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "detalle",
            OnBegin = "BeginGuardarIncapacidad",
            OnComplete = "CompleteGuardarIncapacidad",
            OnSuccess = "SuccessGuardarIncapacidad",
            OnFailure = "SuccessGuardarIncapacidad"
        }))
        {
            Html.ValidationSummary(true);
            <div id="formulario">
                <div class="card">
                    <h5 class="card-header">Datos de la Incapacidad</h5>
                    <div class="card-body">
                        @Html.HiddenFor(model => model.Funcionario.Cedula)
                        @Html.HiddenFor(model => model.EntidadSeleccionada)
                        @Html.HiddenFor(model => model.TipoSeleccionado)              
                        @Html.HiddenFor(model => model.Incapacidad.FecRige)
                        @Html.HiddenFor(model => model.Incapacidad.FecVence)
                        @Html.HiddenFor(model => model.Incapacidad.IndProrroga)
                        @Html.HiddenFor(model => model.Incapacidad.NumDiasTotal)
                        @Html.HiddenFor(model => model.Incapacidad.NumDiasOrigen)
                       
                        @if (Model.Incapacidad.CodNumeroCaso == "" || Model.Incapacidad.CodNumeroCaso == null)
                        {
                            <div class="row">
                                <div class="form-group col-3">
                                    <b>@Html.LabelFor(model => model.Incapacidad.CodIncapacidad)</b>
                                    <span>:</span>
                                    @Html.TextBoxFor(model => model.Incapacidad.CodIncapacidad, new { @class = "form-control" })
                                </div>
                            </div>
                        }
                        @Html.HiddenFor(model => model.Incapacidad.CodNumeroCaso)

                        @*<div class="row">
                            <div class="form-group col-2">
                                <b>@Html.LabelFor(model => model.TipoSeleccionado)</b>
                                @Html.HiddenFor(model => model.Funcionario.Cedula)
                                @Html.HiddenFor(model => model.Incapacidad.CodIncapacidad)
                                @Html.HiddenFor(model => model.Incapacidad.IndProrroga)
                                <span>:</span>
                            </div>
                            <div class="form-group col-2">
                                @Html.DropDownListFor(model => model.TipoSeleccionado, Model.Tipos, "Seleccione una opción", new { @class = "btn btn-secondary dropdown-toggle", @onchange = "ObtenerEntidadMedica(this.value)" })
                                @Html.TextBoxFor(model => model.TipoSeleccionado, new { @id = "idTipo", @class = "form-control", @readonly = "readonly", @hidden = "true" })
                            </div>
                            <div class="form-group col-2">
                                <b>@Html.LabelFor(model => model.EntidadSeleccionada)</b>
                                <span>:</span>
                            </div>
                            <div class="form-group col-3">
                                @Html.DropDownListFor(model => model.EntidadSeleccionada, Model.Entidades, "Seleccione una opción", new { @id = "Entidad", @class = "btn btn-secondary dropdown-toggle", @disabled = "false" })
                                @Html.ValidationMessageFor(model => model.EntidadSeleccionada)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-2">
                                <b>@Html.LabelFor(model => model.Incapacidad.FecRige)</b>
                                <span>:</span>
                            </div>
                            <div class="form-group col-2">
                                @Html.TextBoxFor(model => model.Incapacidad.FecRige, new { @id = "FecRige", @class = "form-control", @readonly = "readonly", @placeholder = "Fecha Rige", @onchange = "ObtenerPorc()" })
                                @Html.ValidationMessageFor(model => model.Incapacidad.FecRige)
                            </div>
                            <div class="form-group col-2">
                                <b>@Html.LabelFor(model => model.Incapacidad.FecVence)</b>
                                <span>:</span>
                            </div>
                            <div class="form-group col-2">
                                @Html.TextBoxFor(model => model.Incapacidad.FecVence, new { @id = "FecVence", @class = "form-control", @readonly = "readonly", @placeholder = "Fecha Vence", @onchange = "ObtenerPorc()" })
                                @Html.ValidationMessageFor(model => model.Incapacidad.FecVence)
                            </div>
                        </div>*@
                        <div class="row">
                            <div class="form-group col-3">
                                <b>@Html.LabelFor(model => model.MontoSalarioBruto)</b>
                                <span>:</span>
                                @Html.TextBoxFor(model => model.MontoSalarioBruto, new { @id = "MontoSalarioBruto", @class = "form-control", @readonly = "readonly", @hidden = "true" })
                                <input id='MtoSalBruto' class="form-control" align="right" disabled value=@String.Format("{0:n}", Model.MontoSalarioBruto) />
                                @Html.ValidationMessageFor(model => model.MontoSalarioBruto)
                            </div>
                            <div class="form-group col-3">
                                <b>@Html.Label("Total Subsidio")</b>
                                <span>:</span>
                                <input id='MtoTotalSubsidio' class="form-control" disabled value=@String.Format("{0:n}", 0) />
                            </div>
                            <div class="form-group col-3">
                                <b>@Html.Label("Total Rebajo")</b>
                                <span>:</span>
                                <input id='MtoTotalRebaja' class="form-control" disabled value=@String.Format("{0:n}", 0) />
                            </div>
                            <div class="form-group col-3">
                                <b>@Html.Label("Total Días")</b>
                                <span>:</span>
                                @Html.TextBoxFor(model => model.Incapacidad.NumDiasTotal, new { @id = "TotalDias", @class = "form-control", @readonly = "readonly" })
                                @Html.TextBoxFor(model => model.Incapacidad.NumDiasOrigen, new { @id = "DiasOrigen", @class = "form-control", @readonly = "readonly", @hidden = "hidden" })
                            </div>
                        </div>
                        <div class="row">
                            <h6 class="card-header">Desglose de la Incapacidad</h6>
                            <table id="tabla" class="table table-hover">
                                <thead class="thead-light">
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                <b>
                                    @Html.LabelFor(model => model.Incapacidad.ObsIncapacidad)
                                    <span>:</span>
                                </b>
                                @Html.TextAreaFor(model => model.Incapacidad.ObsIncapacidad, new { @class = "form-control", @rows = 5 })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-4">
                                <input id="btnGuardarIncapacidad" class="btn btn-secondary" name="SubmitButton" type="submit" value="Guardar Solicitud" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-4">
                                <div id="progressbarGuardar" class="loader" hidden></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        
        <script>ObtenerPorc();</script>
    }

    <div id="detalleResultado">
    </div>
}