@model SIRH.Web.ViewModels.FormularioRegistroIncapacidadVM

@{
    ViewBag.Title = "Anular Incapacidad";
    Layout = "~/Views/Shared/RegistroIncapacidad.cshtml";
}

<blockquote><h3>Modificar Incapacidad (Anular)</h3></blockquote>
@{
    if (Model.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-times-circle d-inline" style="font-size:48px;"></i>
            <h4 class="d-inline"> Ocurrió un error al momento de cargar la Incapacidad.</h4>
        </div>
        <br />

        <div class="card">
            <h5 class="card-header">Detalles</h5>
            <div class="card-body">
                <div>La Incapacidad no pudo ser cargada debido al siguiente error: </div>
                <br /><div><b>@Html.AttributeEncode(Model.Error.MensajeError)</b></div>
                <br /><div>Si conoce la causa de este error, por favor intentelo de nuevo.</div>
                <br /><div>De lo contrario le invitamos a ponerse en contacto con nuestro equipo de soporte, mediante el sistema de <a href="http://sisrh.mopt.go.cr:83/" target="_blank">Ayuda y Soporte</a></div>
            </div>
        </div>
    }
    else {
        using (Ajax.BeginForm("Edit", "RegistroIncapacidad", new { codigo = Int32.Parse(Request.QueryString["codigo"]) } ,new AjaxOptions
        {
            HttpMethod = "Post",
            UpdateTargetId = "dvResultadoBusqueda",
            InsertionMode = InsertionMode.Replace,
            OnComplete = "CompleteEditarCaucion",
            OnBegin = "BeginEditarCaucion"
        }))
        {
            @Html.ValidationSummary(true)
            <div class="card">
                <div class="card-header text-left">
                    <b>Incapacidad # @Model.Incapacidad.IdEntidad</b>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span>
                                <b>Funcionario: </b>@Model.Funcionario.Cedula - @Model.Funcionario.Nombre @Model.Funcionario.PrimerApellido @Model.Funcionario.SegundoApellido
                                @Html.HiddenFor(model => model.Funcionario.Cedula)
                                @Html.HiddenFor(model => model.Funcionario.Nombre)
                                @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
                                @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span>
                                <b>@Html.LabelFor(model => model.Incapacidad.IdEntidad): </b> @Model.Incapacidad.IdEntidad
                                @Html.HiddenFor(model => model.Incapacidad.IdEntidad)
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span>
                                <b>@Html.LabelFor(model => model.Incapacidad.CodIncapacidad): </b>@Model.Incapacidad.CodIncapacidad
                                @Html.HiddenFor(model => model.Incapacidad.CodIncapacidad)
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span>
                                <b>@Html.LabelFor(model => model.EntidadSeleccionada): </b>@Model.EntidadMedica.DescripcionEntidadMedica
                                @Html.HiddenFor(model => model.EntidadMedica.IdEntidad)
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span>
                                <b>@Html.LabelFor(model => model.TipoSeleccionado): </b>@Model.TipoIncapacidad.DescripcionTipoIncapacidad
                                @Html.HiddenFor(model => model.TipoIncapacidad.IdEntidad)
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span>
                                <b>@Html.LabelFor(model => model.Incapacidad.MontoTotalSubsidio): </b>@Model.Incapacidad.MontoTotalSubsidio.ToString("#,##0.00")
                                @Html.HiddenFor(model => model.Incapacidad.MontoTotalSubsidio)
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span>
                                <b>@Html.LabelFor(model => model.Incapacidad.FecRige): </b>@Html.AttributeEncode(Model.Incapacidad.FecRige.ToShortDateString())
                                @Html.HiddenFor(model => model.Incapacidad.FecRige)
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span>
                                <b>@Html.LabelFor(model => model.Incapacidad.FecVence): </b>@Html.AttributeEncode(Model.Incapacidad.FecVence.ToShortDateString())
                                @Html.HiddenFor(model => model.Incapacidad.FecVence)
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span>
                                <b>@Html.LabelFor(model => model.Incapacidad.DetalleEstadoIncapacidad): </b>@Model.Incapacidad.DetalleEstadoIncapacidad
                                @Html.HiddenFor(model => model.Incapacidad.DetalleEstadoIncapacidad)
                            </span>
                        </li>
                    </ul>
                    <br />

                </div>
            </div>

            <br />

            <div class="alert alert-warning" role="alert">
                <i class="fa fa-exclamation-circle d-inline" style="font-size:48px;"></i>
                <h4 class="d-inline"> ¡Atención! Usted está apunto de anular la Incapacidad # <b>@Model.Incapacidad.IdEntidad</b>.</h4>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <b class="col-2 col-form-label">@Html.LabelFor(model => model.Incapacidad.ObsIncapacidad, new { @for = "ObservacionesPoliza" })</b>
                        <div class="col-10">
                            @Html.TextAreaFor(model => model.Incapacidad.ObsIncapacidad, new { @id = "ObservacionesPoliza", @class = "form-control", @rows = 5 })
                        </div>
                    </div>         
                    <br />
                    <input id="btnEditar" name="SubmitButton" type="submit" value="Anular Incapacidad" class="btn btn-primary float-right" />
                    <div id="preloader" class="loader float-right" style="display: none"></div>
                </div>
            </div>
        }
    }
}

<br />
<div id="dvResultadoBusqueda"></div>
<br />
<a href="javascript:history.back()" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Regresar</a>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script src="~/Scripts/Pages/EditCaucion.js"></script>