@model  SIRH.Web.ViewModels.EntidadEducativaVM


        <fieldset>
            <legend>Resultados (@Model.TotalEntidades)</legend>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Entidades.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.AttributeEncode(i + 1)
                                @Html.HiddenFor(model => model.Entidades[i].IdEntidad)
                                @Html.HiddenFor(model => model.Entidades[i].Estado)
                            </td>
                            <td>
                                @Html.AttributeEncode(Model.Entidades.ElementAt(i).DescripcionEntidad)
                                @Html.HiddenFor(model => model.Entidades[i].DescripcionEntidad)
                            </td>
                            <td>
                                @Html.AttributeEncode(Model.Entidades.ElementAt(i).NombreTipo)
                                @Html.HiddenFor(model => model.Entidades[i].NombreTipo)
                            </td>
                            <td>
                                <a href="@Url.Action("DetailsEntidadEducativa", "Carrera", new { id = Model.Entidades.ElementAt(i).IdEntidad })" class="btn btn-primary btn-sm">
                                    <i class="fa fa-search"></i> Ver Detalle
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td align="left" colspan="2">                           
                        </td>
                        <td colspan="2" align="right">
                            Página (@Model.PaginaActual.ToString() de @Model.TotalPaginas.ToString())
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    @if (Model.PaginaActual == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Atras</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @Ajax.ActionLink("Atras", "SearchEntidadEducativa", new
                                       {
                                           @page = Model.PaginaActual - 1,

                                           @nombre = Model.paramBusqueda.EntidadEducativa.DescripcionEntidad,
                                           @tipo = Model.paramBusqueda.EntidadEducativa.TipoEntidad,

                                           @model = Model.paramBusqueda
                                       }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "dvResultadoBusqueda" }, new { @class = "page-link" })
                                        </li>
                                    }
                                    @{ if (Model.TotalPaginas > 10)
                                        {
                                            var indice = Model.PaginaActual > 6 ? (Model.PaginaActual + 4 <= Model.TotalPaginas ? Model.PaginaActual - 5 : Model.PaginaActual - 5 - ((Model.PaginaActual + 4) - Model.TotalPaginas)) : 1;
                                            var final = Model.PaginaActual > 6 ? (Model.PaginaActual + 4 >= Model.TotalPaginas ? Model.TotalPaginas : Model.PaginaActual + 4) : 10;

                                            for (int i = indice; i <= final; i++)
                                            {
                                                <li class="page-item">
                                                    @Ajax.ActionLink(i.ToString(), "SearchEntidadEducativa", new
                                               {
                                                   @page = i,

                                                   @nombre = Model.paramBusqueda.EntidadEducativa.DescripcionEntidad,
                                                   @tipo = Model.paramBusqueda.EntidadEducativa.TipoEntidad,

                                                   @model = Model.paramBusqueda
                                               }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "dvResultadoBusqueda" }, new { @class = "page-link" })
                                                </li>
                                            }
                                            if (Model.PaginaActual + 4 < Model.TotalPaginas)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">...</a>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= Model.TotalPaginas; i++)
                                            {
                                                <li class="page-item ">
                                                    @Ajax.ActionLink(i.ToString(), "SearchEntidadEducativa", new
                                               {
                                                   @page = i,

                                                   @nombre = Model.paramBusqueda.EntidadEducativa.DescripcionEntidad,
                                                   @tipo = Model.paramBusqueda.EntidadEducativa.TipoEntidad,

                                                   @model = Model.paramBusqueda
                                               }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "dvResultadoBusqueda" }, new { @class = "page-link" })
                                                </li>
                                            }
                                        }
                                    }

                                    @if (Model.TotalPaginas == 1 || Model.PaginaActual == Model.TotalPaginas)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">Siguiente</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            @Ajax.ActionLink("Siguiente", "SearchEntidadEducativa", new
                                       {
                                           @page = Model.PaginaActual + 1,

                                           @nombre = Model.paramBusqueda.EntidadEducativa.DescripcionEntidad,
                                           @tipo = Model.paramBusqueda.EntidadEducativa.TipoEntidad,

                                           @model = Model.paramBusqueda
                                       }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "dvResultadoBusqueda" }, new { @class = "page-link" })
                                        </li>
                                    }

                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <br />

        </fieldset>
    
