@model SIRH.Web.ViewModels.FuncionarioCarreraVM

@{
    ViewBag.Title = "Anular Curso";
    Layout = "~/Views/Shared/Carrera.cshtml";
}

@{
    if (Model.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            <i class="fa fa-times-circle d-inline" style="font-size:48px;"></i>
            <h4 class="d-inline"> Ocurrió un error al momento de cargar el curso.</h4>
        </div>
        <br />

        <div class="card">
            <h5 class="card-header">Detalles</h5>
            <div class="card-body">
                <div>El curso no pudo ser cargado debido al siguiente error: </div>
                <br /><div><b>@Html.AttributeEncode(Model.Error.MensajeError)</b></div>
                <br /><div>Si conoce la causa de este error, por favor intentelo de nuevo.</div>
                <br /><div>De lo contrario le invitamos a ponerse en contacto con nuestro equipo de soporte, mediante el sistema de <a href="http://sisrh.mopt.go.cr:83/" target="_blank">Ayuda y Soporte</a></div>
            </div>
        </div>
    }
    else
    {
        if (Model.CursoCapacitacion != null)
        {
            using (Ajax.BeginForm("Edit", "Carrera", new { id = Int32.Parse(Request.Url.Segments.Last()) }, new AjaxOptions
            {
                HttpMethod = "Post",
                UpdateTargetId = "dvResultadoBusqueda",
                InsertionMode = InsertionMode.Replace,
                OnComplete = "CompleteAnularCurso",
                OnBegin = "BeginAnularCurso"
            }))
            {
                @Html.ValidationSummary(true)
                <blockquote><h3>Modificar Curso Capacitación (Anular)</h3></blockquote>
                <div class="card">
                    <div class="card-header text-left">
                        <b>Curso: @Model.CursoCapacitacion.DescripcionCapacitacion</b>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span>
                                    <b>Funcionario: </b>@Model.Funcionario.Cedula - @Model.Funcionario.Nombre @Model.Funcionario.PrimerApellido @Model.Funcionario.SegundoApellido
                                    @Html.HiddenFor(model => model.Funcionario.Cedula)
                                    @Html.HiddenFor(model => model.Funcionario.Nombre)
                                    @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
                                    @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoCapacitacion.EntidadEducativa.DescripcionEntidad): </b> @Html.DisplayFor(model => model.CursoCapacitacion.EntidadEducativa.DescripcionEntidad)
                                    @Html.HiddenFor(model => model.CursoCapacitacion.EntidadEducativa.DescripcionEntidad)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoCapacitacion.FechaInicio): </b>@Html.DisplayFor(model => model.CursoCapacitacion.FechaInicio)
                                    @Html.HiddenFor(model => model.CursoCapacitacion.FechaInicio)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoCapacitacion.FechaFinal): </b>@Model.CursoCapacitacion.FechaFinal.ToShortDateString()
                                    @Html.HiddenFor(model => model.CursoCapacitacion.FechaFinal)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoCapacitacion.Modalidad.Descripcion): </b>@Html.DisplayFor(model => model.CursoCapacitacion.Modalidad.Descripcion)
                                    @Html.HiddenFor(model => model.CursoCapacitacion.Modalidad.IdEntidad)
                                    @Html.HiddenFor(model => model.CursoCapacitacion.Modalidad.Descripcion)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoCapacitacion.Resolucion): </b>@Html.DisplayFor(model => model.CursoCapacitacion.Resolucion)
                                    @Html.HiddenFor(model => model.CursoCapacitacion.Resolucion)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoCapacitacion.TotalPuntos): </b>@Html.DisplayFor(model => model.CursoCapacitacion.TotalPuntos)
                                    @Html.HiddenFor(model => model.CursoCapacitacion.TotalPuntos)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoCapacitacion.TotalHoras): </b>@Html.DisplayFor(model => model.CursoCapacitacion.TotalHoras)
                                    @Html.HiddenFor(model => model.CursoCapacitacion.TotalHoras)
                                </span>
                            </li>
                        </ul>
                        @Html.HiddenFor(model => model.CursoCapacitacion.DescripcionCapacitacion)
                        <br />

                    </div>
                </div>

                <br />

                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-circle d-inline" style="font-size:48px;"></i>
                    <h4 class="d-inline"> ¡Atención! Usted está apunto de anular el curso de capacitación <b>@Model.CursoCapacitacion.DescripcionCapacitacion</b>.</h4>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <b class="col-2 col-form-label">@Html.LabelFor(model => model.CursoCapacitacion.Observaciones, new { @for = "Observaciones" })</b>
                            <div class="col-10">
                                @Html.TextAreaFor(model => model.CursoCapacitacion.Observaciones, new { @id = "Observaciones", @class = "form-control", @rows = 5 })
                            </div>
                        </div>
                        <br />
                        <input id="btnEditar" name="SubmitButton" type="submit" value="Anular Curso" class="btn btn-primary float-right" />
                        <div id="preloader" class="loader float-right" style="display: none"></div>
                    </div>
                </div>
            }
            <br />
            <div id="dvResultadoBusqueda"></div>
        }
        else
        {
            using (Ajax.BeginForm("Edit", "Carrera", new { id = Int32.Parse(Request.Url.Segments.Last()) }, new AjaxOptions
            {
                HttpMethod = "Post",
                UpdateTargetId = "dvResultadoBusqueda",
                InsertionMode = InsertionMode.Replace,
                OnComplete = "CompleteAnularCurso",
                OnBegin = "BeginAnularCurso"
            }))
            {
                @Html.ValidationSummary(true)
                <blockquote><h3>Modificar Curso Grado (Anular)</h3></blockquote>
                <div class="card">
                    <div class="card-header text-left">
                        <b>Curso: @Model.CursoGrado.CursoGrado</b>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span>
                                    <b>Funcionario: </b>@Model.Funcionario.Cedula - @Model.Funcionario.Nombre @Model.Funcionario.PrimerApellido @Model.Funcionario.SegundoApellido
                                    @Html.HiddenFor(model => model.Funcionario.Cedula)
                                    @Html.HiddenFor(model => model.Funcionario.Nombre)
                                    @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
                                    @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoGrado.EntidadEducativa.DescripcionEntidad): </b> @Html.DisplayFor(model => model.CursoGrado.EntidadEducativa.DescripcionEntidad)
                                    @Html.HiddenFor(model => model.CursoGrado.EntidadEducativa.DescripcionEntidad)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoGrado.FechaEmision): </b>@Model.CursoGrado.FechaEmision.ToShortDateString()
                                    @Html.HiddenFor(model => model.CursoGrado.FechaEmision)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoGrado.Incentivo): </b>@Html.DisplayFor(model => model.CursoGrado.Incentivo)
                                    @Html.HiddenFor(model => model.CursoGrado.Incentivo)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoGrado.TipoGrado): </b>@Html.DisplayFor(model => model.CursoGrado.TipoGrado)
                                    @Html.DisplayFor(model => model.CursoGrado.TipoGrado)
                                </span>
                            </li>
                            <li class="list-group-item">
                                <span>
                                    <b>@Html.LabelFor(model => model.CursoGrado.Resolucion): </b>@Html.DisplayFor(model => model.CursoGrado.Resolucion)
                                    @Html.HiddenFor(model => model.CursoGrado.Resolucion)
                                </span>
                            </li>
                            @Html.HiddenFor(model => model.CursoGrado.CursoGrado)
                        </ul>
                        <br />

                    </div>
                </div>

                <br />

                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-circle d-inline" style="font-size:48px;"></i>
                    <h4 class="d-inline"> ¡Atención! Usted está apunto de anular el curso de grado <b>@Model.CursoGrado.CursoGrado</b>.</h4>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <b class="col-2 col-form-label">@Html.LabelFor(model => model.CursoGrado.Observaciones, new { @for = "Observaciones" })</b>
                            <div class="col-10">
                                @Html.TextAreaFor(model => model.CursoGrado.Observaciones, new { @id = "Observaciones", @class = "form-control", @rows = 5 })
                            </div>
                        </div>
                        <br />
                        <input id="btnEditar" name="SubmitButton" type="submit" value="Anular Curso" class="btn btn-primary float-right" />
                        <div id="preloader" class="loader float-right" style="display: none"></div>
                    </div>
                </div>
            }
            <br />
            <div id="dvResultadoBusqueda"></div>
        }
    }
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script src="~/Scripts/Pages/FormularioAnularCurso.js"></script>
