@model SIRH.Web.Models.DivisionModel

@{
    if (Model != null)
    {
        if (Model.TotalDivisiones < 1)
        {
            <div class="alert alert-danger" role="alert">
                No se encontraron resultados para la búsqueda solicitada.
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-header">
                    Resultados (@Model.TotalDivisiones)
                </div>
                <div class="card-body">
                    <table id="detalle" class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int cuenta = 0;
                                foreach (var item in Model.Division)
                                {
                                    cuenta++;
                                    <tr>
                                        <td>@(((Model.PaginaActual - 1) * 10) + cuenta)</td>
                                        <td>@item.IdEntidad</td>
                                        <td>@item.NomDivision</td>
                                        <td>@Html.ActionLink("Seleccionar", "", "UbicacionPuesto", null, new { @onclick = "return CargarDato('" + item.IdEntidad + "-" + item.NomDivision + "', 'division');", @class = "btn btn-outline-primary" }) </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6" align="right">

                                    Página (@Model.PaginaActual.ToString() de @Model.TotalPaginas.ToString())

                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                            @if (Model.PaginaActual == 1)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" tabindex="-1">Atras</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    @Ajax.ActionLink("Atras", "Division_Index", new
                                               {
                                                   @page = Model.PaginaActual - 1,
                                                   @codigodivision = Model.CodigoSearch,
                                                   @nomdivision = Model.NombreSearch
                                               }, new AjaxOptions { UpdateTargetId = "target-division" }, new { @class = "page-link" })
                                                </li>
                                            }

                                            @{for (int i = 1; i <= Model.TotalPaginas; i++)
                                                {
                                                    <li class="page-item ">
                                                        @Ajax.ActionLink(i.ToString(), "Division_Index", new
                                                   {
                                                       @page = i,
                                                       @codigodivision = Model.CodigoSearch,
                                                       @nomdivision = Model.NombreSearch
                                                   }, new AjaxOptions { UpdateTargetId = "target-division" }, new { @class = "page-link" })
                                                    </li>
                                                }
                                            }
                                            @if (Model.TotalPaginas == 1 || Model.PaginaActual == Model.TotalPaginas)
                                            {
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">Siguiente</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="page-item">
                                                    @Ajax.ActionLink("Siguiente", "Division_Index", new
                                               {
                                                   @page = Model.PaginaActual + 1,
                                                   @codigodivision = Model.CodigoSearch,
                                                   @nomdivision = Model.NombreSearch
                                               }, new AjaxOptions { UpdateTargetId = "target-division" }, new { @class = "page-link" })
                                                </li>
                                            }
                                        </ul>
                                    </nav>

                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
   }

}