@model SIRH.Web.ViewModels.FormularioBorradorAccionPersonalVM
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/BorradorAccionPersonal.cshtml";
}

<center><h2>Anular Borrador de Acción de Personal</h2></center>
@{
    if (Model.Error != null)
    {
        <div class="alert alert-danger" role="alert" style="margin-top:15px;">
            Ocurrió un error al momento de cargar el registro del Borrador.
        </div>
        <div class="card">
            <h5 class="card-header">Detalles</h5>
            <div class="card-body">
                <div>El Borrador no pudo ser cargado debido al siguiente error: </div>
                <br /><div><b>@Html.AttributeEncode(Model.Error.MensajeError)</b></div>
                <br /><div>Si conoce la causa de este error, por favor intentelo de nuevo.</div>
                <br /><div>De lo contrario le invitamos a ponerse en contacto con nuestro equipo de soporte, mediante el sistema de <a href="http://sisrh.mopt.go.cr:83/" target="_blank">Ayuda y Soporte</a></div>

            </div>
        </div>
    }
    else
    {
        using (Html.BeginForm())
        {
            Html.ValidationSummary(true);
            <div class="card">
                <h5 class="card-header">Borrador #@Model.Borrador.IdEntidad</h5>
                <div class="card-body">
                    <table id="detalle" class="table table-hover">
                        <tbody>
                            @if (Model.Detalle != null)
                            {
                                <tr>
                                    <td>@Html.Label("Funcionario")</td>
                                    <td>
                                        @Model.Funcionario.Cedula - @Model.Funcionario.Nombre @Model.Funcionario.PrimerApellido @Model.Funcionario.SegundoApellido
                                        @Html.HiddenFor(model => model.Funcionario.Cedula) 
                                        @Html.HiddenFor(model => model.Funcionario.Nombre) 
                                        @Html.HiddenFor(model => model.Funcionario.PrimerApellido) 
                                        @Html.HiddenFor(model => model.Funcionario.SegundoApellido) 
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>@Html.LabelFor(model => model.Borrador.IdEntidad)</td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrador.IdEntidad)
                                    @Html.HiddenFor(model => model.Borrador.IdEntidad)
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Borrador.NumOficio)</td>
                                <td>
                                    @Html.DisplayFor(model => model.Borrador.NumOficio)
                                    @Html.HiddenFor(model => model.Borrador.NumOficio)
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Borrador.EstadoBorrador.DesEstadoBorrador)</td>
                                <td>
                                    @Model.Borrador.EstadoBorrador.DesEstadoBorrador
                                    @Html.HiddenFor(model => model.Borrador.EstadoBorrador.DesEstadoBorrador)
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Borrador.UsuarioAsignado)</td>
                                <td>
                                    @Html.AttributeEncode(Model.Asignado.Nombre + " " + Model.Asignado.PrimerApellido + " " + Model.Asignado.SegundoApellido)
                                    @Html.HiddenFor(model => model.Asignado.Nombre)
                                    @Html.HiddenFor(model => model.Asignado.PrimerApellido)
                                    @Html.HiddenFor(model => model.Asignado.SegundoApellido)
                                    @Html.HiddenFor(model => model.Borrador.UsuarioAsignado)
                                    @Html.HiddenFor(model => model.Asignado.Cedula)

                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.Borrador.ObsJustificacion)</td>
                                <td>
                                    @Html.AttributeEncode(Model.Borrador.ObsJustificacion)
                                    @Html.HiddenFor(model => model.Borrador.ObsJustificacion)
                                </td>
                            </tr>

                            @if (Model.Detalle != null)
                            {
                                <tr>
                                    <td>@Html.LabelFor(model => model.TipoSeleccionado)</td>
                                    <td>
                                        @Html.DisplayFor(model => model.TipoAccion.DesTipoAccion)
                                        @Html.HiddenFor(model => model.TipoAccion.IdEntidad)
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.Detalle.FecRige)</td>
                                    <td>
                                        @Model.Detalle.FecRige.ToShortDateString()
                                        @Html.HiddenFor(model => model.Detalle.FecRige)
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.LabelFor(model => model.Detalle.FecVence)</td>
                                    <td>
                                        @Model.Detalle.FecVence.ToShortDateString()
                                        @Html.HiddenFor(model => model.Detalle.FecVence)
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="alert alert-warning" role="alert" style="margin-top:15px;">
                ¡Atención! Usted está apunto de anular el borrador #<b>@Model.Borrador.IdEntidad</b>.
            </div>
            <div class="row">
                <div class="form-group col-4">
                    @Html.Label("Justificación de Anulación")
                    <span>:</span>
                    @Html.TextAreaFor(model => model.Movimiento.ObsMovimiento, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-2">
                    <input id="btnGuardar" class="btn btn-secondary" name="SubmitButton" type="submit" value="Anular Borrador" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-2">
                    <div id="progressbarGuardar" class="loader" hidden></div>
                </div>
            </div>

        }
    }
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="card border-danger">
            <div class="card-header"><strong>El formulario contiene los siguientes errores:</strong></div>
            <div class="card-body text-danger">
                @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                {
                    <div class="alert alert-danger" role="alert">
                        <h5>@modelError.ErrorMessage</h5>
                    </div>
                }
            </div>
        </div>
    }
    <div class="link_return">
        <a class="btn btn-outline-primary" href="javascript:history.back()" id="A5">Regresar</a>
    </div>

}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
