@model IList<SIRH.Web.ViewModels.FormularioPlanillaVM>

@{ 
    using (Html.BeginForm("ReporteMovimientos", "Planilla", FormMethod.Post, new { @id = "thisForm" }))
    {

        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Programa</th>
                    <th>Objeto de Gasto</th>
                    <th>Tipo de Movimiento</th>
                    <th>Monto</th>
                    <th>Detalle</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.AttributeEncode(item.ComponentePresupuestario.Programa.DesPrograma)
                                @*@Html.HiddenFor(model => model[Model.IndexOf(item)].Funcionario.Cedula)
                                @Html.HiddenFor(model => model[Model.IndexOf(item)].Funcionario.Nombre)
                                @Html.HiddenFor(model => model[Model.IndexOf(item)].Funcionario.PrimerApellido)
                                @Html.HiddenFor(model => model[Model.IndexOf(item)].Funcionario.SegundoApellido)
                                @Html.HiddenFor(model => model[Model.IndexOf(item)].Funcionario.SegundoApellido)
                                @Html.HiddenFor(model => model[Model.IndexOf(item)].Accion.IdEntidad)
                                @Html.HiddenFor(model => model[Model.IndexOf(item)].Accion.Observaciones)
                                @Html.HiddenFor(model => model[Model.IndexOf(item)].Asignado.Nombre)
                                @Html.HiddenFor(model => model[Model.IndexOf(item)].Asignado.PrimerApellido)
                                @Html.HiddenFor(model => model[Model.IndexOf(item)].Asignado.SegundoApellido)*@
                            </td>
                           
                            <td>
                                @item.ComponentePresupuestario.ObjetoGasto.DesObjGasto
                            </td>
                            <td>
                                @Html.AttributeEncode(item.ComponentePresupuestario.TipoMovimiento.DesMovimientoPresupuesto)
                                @*@Html.HiddenFor(model => model[Model.IndexOf(item)].Accion.NumAccion)*@
                            </td>
                            <td>
                                @Html.AttributeEncode(item.ComponentePresupuestario.MontoComponente)
                               @* @Html.HiddenFor(model => model[Model.IndexOf(item)].Accion.TipoAccion.DesTipoAccion)*@
                            </td>
                            <td>
                                @Html.AttributeEncode(item.ComponentePresupuestario.Detalle)
                                @*@Html.HiddenFor(model => model[Model.IndexOf(item)].Accion.Estado.DesEstadoBorrador)*@
                            </td>
                            
                            
                            @*@if (item.Estado.IdEntidad != 8)
                            {
                                <td>
                                    <a href="@Url.Action("Edit", "AccionPersonal", new { @numAccion = item.Accion.NumAccion })" class="btn btn-warning btn-sm">
                                        <i class="fa fa-edit"></i> Anular
                                    </a>
                                </td>
                            }*@
                            @*<td style="width:180px">
                                <div style="display:inline">
                                    @if (item.Estado.IdEntidad != 8)
                                    {
                                        <div class="btn btn-warning btn-sm">@Html.ActionLink("Anular", "Cancel", new { @numAccion = item.Accion.NumAccion }, new { @class = "btn btn-outline-primary" })</div>
                                    }
                                    <div class="link_view">@Html.ActionLink("Ver Detalle", "Details", new { @numAccion = item.Accion.NumAccion }, new { @class = "btn btn-outline-primary" })</div>
                                </div>
                            </td>*@
                        </tr>
                    }
                    <tr>
                        <td colspan="7"></td>
                    </tr>
                    <tr>
                        <td colspan="7"><div class="link_pdf"><a href="#" id="submit_link" class="btn btn-outline-primary" onclick="return ExportarAPdf();" target="_blank" >Exportar resultados a PDF</a></div></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

