@model SIRH.Web.ViewModels.DireccionFuncionarioVM

@using (Ajax.BeginForm("RegistrarDireccionCandidato", "Vacantes", null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "detalleResultado",
    OnBegin = "BeginGuardarCandidato",
    OnComplete = "CompleteGuardarCandidato",
    OnSuccess = "SuccessGuardarCandidato",
    OnFailure = "SuccessGuardarCandidato"
}, new { @id = "thisform" }))
{

    <div class="row">

        @Html.HiddenFor(model => model.Funcionario.Cedula)
        @Html.HiddenFor(model => model.Funcionario.Nombre)
        @Html.HiddenFor(model => model.Funcionario.PrimerApellido)
        @Html.HiddenFor(model => model.Funcionario.SegundoApellido)
        @Html.HiddenFor(model => model.Funcionario.Sexo)

        <div class="form-group col-4">
            @Html.LabelFor(model => model.Provincias)
            <span>:</span>
            @Html.DropDownListFor(model => model.ProvinciaSeleccionada, Model.Provincias, "Seleccionar...", new { @class = "btn btn-secondary dropdown-toggle form-control", @onchange = "update();" })
        </div>
        <div class="form-group col-4">
            @Html.LabelFor(model => model.Cantones)
            <span>:</span>
            @Html.DropDownListFor(model => model.CantonSeleccionado, Model.Cantones, "Seleccionar...", new { @class = "btn btn-secondary dropdown-toggle form-control", @onchange = "update();" })
        </div>
        <div class="form-group col-4">
            @Html.LabelFor(model => model.Distritos)
            <span>:</span>
            @Html.DropDownListFor(model => model.DistritoSeleccionado, Model.Distritos, "Seleccionar...", new { @class = "btn btn-secondary dropdown-toggle form-control" })
        </div>


    </div>
    <div class="row">
        <div class="form-group col-4">
            @Html.LabelFor(model => model.Direccion.DirExacta)
            <span>:</span>
            @Html.TextAreaFor(model => model.Direccion.DirExacta, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-4">
            <input class="btn btn-secondary" id="btnGuardar" name="SubmitButton" type="submit" value="Guardar" onclick="$('#thisform').attr('data-ajax-update','resultado');"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-4">
            <input class="btn btn-secondary" id="btnGuardarContinuar" name="SubmitButton" type="submit" value="Guardar y Continuar" onclick="$('#thisform').attr('data-ajax-update','#resultado');"/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-4">
            <div id="preloader" class="loader" hidden></div>
        </div>
    </div>
}
<div id="resultado"></div>